.form-sign-in {
  @include form;

  &__header {
    margin-bottom: rem(20);
  }

  &__h2 {
    margin: 0;

    @include heading('h1');
  }

  &__row {
    margin-top: rem(10);
  }

  &__button {
    margin: rem(20) 0 0;

    &--flex {
      margin: 0 0 0 rem(20);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(30);
    color: $color-black;
  }
}
