@import '~/scss/functions';
@import '~/scss/vars';
@import '~/scss/mixins';

.rating {
  display: flex;

  &__star {
    @include hidden-text;

    &::before {
      content: 'star';
      background-image: $gradient-primary;
      background-clip: text;

      @include material-icons(rem(24), transparent);
    }

    &--bordered {
      &::before {
        content: 'star_border';
      }
    }
  }
}
