//- Parameters:
//- int number - значение рейтинга (от 0 до 5)

//- Examples:
//- +rating(0)
//- +rating(5)

mixin rating(number)
  - let count = 0;

  .rating
    while count < 5
      if count < number
        span._star
          | ★
      else
        span._star.-border
          | ☆
      - count++;
