//- Options:
//- 🞂 value: number - рейтинг (от 0 до 5)

mixin rating(options)
  -
    const defaults = {
      value: 0,
    };

  -
    const {
      value,
    } = Object.assign(defaults, options);

  .rating
    - let count = 0;

    while count < 5
      if count < value
        span._star
          | ★
      else
        span._star.-border
          | ☆
      - count++;
