//- Options:
//- 🞂 price: string - цена комнаты за сутки

mixin room-price(options)
  -
    const defaults = {
      price: '0$',
    };

  -
    const {
      price,
    } = Object.assign(defaults, options);

  .room-price
    span._price
      | #{price}
    | &nbsp;в&nbsp;сутки
