//- Options:
//- 🞂 isSignUp: boolean - если true, то вместо формы «Sign In» отобразится форма «Sign Up»

include /blocks/form-sign-in/form-sign-in.pug
include /blocks/form-sign-up/form-sign-up.pug

mixin main-sign(options)
  -
    const defaults = {
      isSignUp: false,
    };

  -
    const {
      isSignUp,
    } = Object.assign(defaults, options);

  main.main-sign.js-main-sign
    ._background.js-main-sign__background(style='--translateY: 0;')
    ._container
      h1._h1.visually-hidden
        | #{isSignUp ? 'Регистрация аккаунта' : 'Войти'}
      ._form
        if isSignUp
          +form-sign-up
        else
          +form-sign-in
