.main-sign {
  position: relative;
  display: flex;
  min-height: rem(700);

  &__background {
    position: absolute;
    top: rem(-70);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
    background-image: url('../../content/backgrounds/bg-5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem(20);
    padding-bottom: rem(20);

    @include container;
  }

  &__form {
    max-width: rem(380);
    width: 100%;
  }
}
