@import '~/scss/functions';
@import '~/scss/vars';
@import '~/scss/mixins';

.main-sign {
  position: relative;
  display: flex;
  min-height: rem(700);

  @include screen-sm {
    min-height: calc(100vh - #{$height-header * 2});
  }

  &__background {
    position: absolute;
    top: -$height-header;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('~/assets/content/backgrounds/bg-5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(var(--translateY));
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem(20);
    padding-bottom: rem(20);

    @include container;
  }

  &__form {
    width: 100%;
    max-width: rem(380);
  }
}
