include /blocks/button/button.pug
include /blocks/calendar/calendar.pug
include /blocks/dropdown/dropdown.pug
include /blocks/room-info/room-info.pug
include /blocks/room-price/room-price.pug
include /blocks/tooltip/tooltip.pug

mixin form-reservation
  form.form-reservation(method='post')
    header._header
      h2._h2.visually-hidden
        | Забронировать номер
      ._info
        +room-info({
          number: 888,
          tag: 'Люкс',
        })
      ._price
        +room-price({
          price: '9 990₽',
        })
    ._row
      +calendar({
        type: 'fields',
        dates: '2021-08-19/2021-08-23',
        labelFirst: 'Прибытие',
        labelSecond: 'Выезд',
        attrsFieldFirst: {
          required: true,
        },
        attrsFieldSecond: {
          required: true,
        },
      })
    ._row
      +dropdown({
        list: [
          {
            name: 'взрослые',
            values: [2, 0, 3],
            words: [],
          },
          {
            name: 'дети',
            values: [1, 0, 3],
            words: [],
          },
          {
            name: 'младенцы',
            values: [0, 0, 1],
            words: ['младенец', 'младенца', 'младенцев'],
          },
        ],
        words: ['гость', 'гостя', 'гостей'],
        labelPrimary: 'Гости',
        attrsField: {
          placeholder: 'Сколько гостей',
          required: true,
        },
      })
    table._table
      tbody._tbody
        tr._tr
          td._td
            | 9&nbsp;990₽ х 4 суток
          td._td
          td._td.-price
            | 39&nbsp;960₽
        tr._tr
          td._td
            | Сбор за услуги: скидка 2&nbsp;179₽
          td._td
            span._tooltip
              +tooltip({
                text: 'Скидка на первую бронь за подписку',
              })
          td._td.-price
            | 0₽
        tr._tr
          td._td
            | Сбор за доп. услуги
          td._td
            span._tooltip
              +tooltip({
                text: 'Чаевые для персонала уже включены в счёт',
              })
          td._td.-price
            | 300₽
      tfoot._tfoot
        tr._tr
          td._td.-total(colspan='2')
            span._dots
              | Итого
          td._td.-total.-price
            | 38&nbsp;081₽
    ._button
      +button({
        text: 'Забронировать',
        mods: ['fill', 'wide'],
        attrs: {
          type: 'submit',
        },
      })
