.form-reservation {
  @include form;

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: rem(20);
  }

  &__row {
    margin-top: rem(20);
  }

  &__table {
    width: 100%;
    margin-top: rem(6);
    border-spacing: 0 rem(14);
  }

  &__td {
    vertical-align: top;
    line-height: $line-height-secondary;

    &--tooltip {
      padding: 0 rem(5);
      line-height: $line-height-primary;
    }

    &--price {
      text-align: right;
    }

    &--total {
      padding-top: rem(14);

      @include heading('h2');
    }
  }

  &__dots {
    display: flex;

    &::after {
      content: '';
      flex-grow: 1;
      margin: 0 rem(5) rem(4);
      border-bottom: 1px dotted $color-gray-25p;
    }
  }

  &__button {
    margin-top: rem(6);
  }
}
