include /blocks/form-filter/form-filter.pug
include /blocks/pagination/pagination.pug
include /blocks/room/room.pug

mixin main-search
  main.main-search
    ._container
      button._button(type='button')
        | Фильтры
        span._icon-layers
          span._icon-layer
          span._icon-layer
          span._icon-layer
          span._icon-layer
      aside._aside
        ._filter
          +form-filter
      section._section
        h1._h1
          | Номера, которые мы для вас подобрали
        ._rooms
          +room({
            images: [
              ['888-1-small.jpg', 'Номер 888 (1)'],
              ['888-2-small.jpg', 'Номер 888 (2)'],
              ['888-3-small.jpg', 'Номер 888 (3)'],
              ['888-3-small.jpg', 'Номер 888 (4)'],
            ],
            number: 888,
            tag: 'Люкс',
            price: '9 990₽',
            rating: 5,
            reviews: 145,
          })
          +room({
            images: [
              ['840-1-small.jpg', 'Номер 840 (1)'],
              ['840-1-small.jpg', 'Номер 840 (2)'],
              ['840-1-small.jpg', 'Номер 840 (3)'],
              ['840-1-small.jpg', 'Номер 840 (4)'],
            ],
            number: 840,
            price: '9 900₽',
            rating: 4,
            reviews: 65,
          })
          +room({
            images: [
              ['980-1-small.jpg', 'Номер 980 (1)'],
              ['980-1-small.jpg', 'Номер 980 (2)'],
              ['980-1-small.jpg', 'Номер 980 (3)'],
              ['980-1-small.jpg', 'Номер 980 (4)'],
            ],
            number: 980,
            tag: 'Люкс',
            price: '8 500₽',
            rating: 3,
            reviews: 35,
          })
          +room({
            images: [
              ['856-1-small.jpg', 'Номер 856 (1)'],
              ['856-1-small.jpg', 'Номер 856 (2)'],
              ['856-1-small.jpg', 'Номер 856 (3)'],
              ['856-1-small.jpg', 'Номер 856 (4)'],
            ],
            number: 856,
            price: '7 300₽',
            rating: 5,
            reviews: 19,
          })
          +room({
            images: [
              ['740-1-small.jpg', 'Номер 740 (1)'],
              ['740-1-small.jpg', 'Номер 740 (2)'],
              ['740-1-small.jpg', 'Номер 740 (3)'],
              ['740-1-small.jpg', 'Номер 740 (4)'],
            ],
            number: 740,
            price: '6 000₽',
            rating: 4,
            reviews: 44,
          })
          +room({
            images: [
              ['982-1-small.jpg', 'Номер 982 (1)'],
              ['982-1-small.jpg', 'Номер 982 (2)'],
              ['982-1-small.jpg', 'Номер 982 (3)'],
              ['982-1-small.jpg', 'Номер 982 (4)'],
            ],
            number: 982,
            price: '5 800₽',
            rating: 3,
            reviews: 56,
          })
          +room({
            images: [
              ['678-1-small.jpg', 'Номер 678 (1)'],
              ['678-1-small.jpg', 'Номер 678 (2)'],
              ['678-1-small.jpg', 'Номер 678 (3)'],
              ['678-1-small.jpg', 'Номер 678 (4)'],
            ],
            number: 678,
            price: '5 500₽',
            rating: 5,
            reviews: 45,
          })
          +room({
            images: [
              ['450-1-small.jpg', 'Номер 450 (1)'],
              ['450-1-small.jpg', 'Номер 450 (2)'],
              ['450-1-small.jpg', 'Номер 450 (3)'],
              ['450-1-small.jpg', 'Номер 450 (4)'],
            ],
            number: 450,
            price: '5 300₽',
            rating: 4,
            reviews: 39,
          })
          +room({
            images: [
              ['350-1-small.jpg', 'Номер 350 (1)'],
              ['350-1-small.jpg', 'Номер 350 (2)'],
              ['350-1-small.jpg', 'Номер 350 (3)'],
              ['350-1-small.jpg', 'Номер 350 (4)'],
            ],
            number: 350,
            price: '5 000₽',
            rating: 3,
            reviews: 77,
          })
          +room({
            images: [
              ['666-1-small.jpg', 'Номер 666 (1)'],
              ['666-1-small.jpg', 'Номер 666 (2)'],
              ['666-1-small.jpg', 'Номер 666 (3)'],
              ['666-1-small.jpg', 'Номер 666 (4)'],
            ],
            number: 666,
            price: '5 000₽',
            rating: 5,
            reviews: 25,
          })
          +room({
            images: [
              ['444-1-small.jpg', 'Номер 444 (1)'],
              ['444-1-small.jpg', 'Номер 444 (2)'],
              ['444-1-small.jpg', 'Номер 444 (3)'],
              ['444-1-small.jpg', 'Номер 444 (4)'],
            ],
            number: 444,
            price: '5 000₽',
            rating: 3,
            reviews: 15,
          })
          +room({
            images: [
              ['352-1-small.jpg', 'Номер 352 (1)'],
              ['352-1-small.jpg', 'Номер 352 (2)'],
              ['352-1-small.jpg', 'Номер 352 (3)'],
              ['352-1-small.jpg', 'Номер 352 (4)'],
            ],
            number: 352,
            price: '5 000₽',
            rating: 3,
            reviews: 55,
          })
        ._pagination
          +pagination
