.main-search {
  @include screen-xl {
    &::before {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;
      visibility: hidden;
      transition:
        visibility 1ms $time-primary,
        background-color $time-primary;
    }
  }

  &--filter {
    @include screen-xl {
      &::before {
        background-color: rgba($color-black, 0.55);
        visibility: visible;
        transition: background-color $time-primary;
      }
    }
  }

  &__container {
    display: flex;

    @include container;

    @include screen-xl {
      overflow: hidden;
    }
  }

  &__button {
    position: fixed;
    top: 88.5%;
    right: 81.5%;
    z-index: 1002;
    display: none;
    width: rem(44);
    height: rem(44);
    padding: rem(11);
    border: 0;
    border-radius: 50%;
    background-image: $gradient-primary;
    cursor: pointer;
    animation: blink 1s ease-in-out infinite;
    transition:
      top $time-primary,
      right $time-primary;

    @include hidden-text;

    @include screen-xl {
      display: block;
    }

    &--active {
      top: rem(13);
      right: rem(13);
    }

    &--hidden {
      right: 102.5%;
      visibility: hidden;
      transition:
        top $time-primary,
        right $time-primary,
        visibility 1ms $time-primary;
    }
  }

  &__icon-layers {
    position: relative;
    display: block;
    height: 100%;
  }

  &__icon-layer {
    position: absolute;
    left: 50%;
    height: 14%;
    border-radius: $radius-primary;
    background-color: $color-white;
    transform: translateX(-50%);
    transition:
      top $time-primary,
      bottom $time-primary,
      width $time-primary,
      transform $time-primary;

    &:nth-child(1) {
      top: 10%;
      width: 100%;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 50%;
      width: 65%;
      transform: translate(-50%, -50%);
    }

    &:nth-child(4) {
      bottom: 10%;
      width: 30%;
    }
  }

  &__button--active &__icon-layer {
    &:nth-child(1) {
      top: 50%;
      width: 0%;
    }

    &:nth-child(2) {
      width: 100%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:nth-child(3) {
      width: 100%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:nth-child(4) {
      bottom: 50%;
      width: 0%;
    }
  }

  &__aside {
    position: sticky;
    top: $height-header;
    flex-shrink: 0;
    overflow-y: scroll;
    height: calc(100vh - #{$height-header});
    padding-right: rem(26);
    background-color: $color-white;
    scrollbar-width: thin;

    @include screen-xl {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 100%;
      z-index: 1001;
      height: 100vh;
      padding: 0 rem(30);
      transition:
        left $time-primary,
        box-shadow $time-primary $time-primary;
    }
  }

  &__button--active + &__aside {
    @include screen-xl {
      left: calc(100% - #{rem(324)});
      box-shadow: 0 0 rem(25) rgba($color-black, 0.2);
      transition: left $time-primary;
    }
  }

  &__filter {
    width: rem(266);
    padding: rem(30) 0 rem(100);

    @include screen-xl {
      padding-top: rem(70);
    }
  }

  &__section {
    flex-grow: 1;
    margin-left: rem(26);
    padding: rem(30) 0 rem(70);

    @include screen-xl {
      min-height: calc(100vh - #{$height-header});
      margin-left: 0;
    }
  }

  &__h1 {
    margin: 0 0 rem(20);

    @include heading('h1');
  }

  &__rooms {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(270), 1fr));
    grid-gap: rem(20) rem(12);
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: rem(40);
  }
}

@keyframes blink {
  0% {
    box-shadow: 0 0 rem(15) $color-primary-1;
    transform: scale(1.1);
  }

  50% {
    box-shadow: none;
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 rem(15) $color-primary-1;
    transform: scale(1.1);
  }
}
