//- Examples:
//- +main-search

mixin main-search
  main.main-search
    ._container
      button._button(type='button')
        | Фильтры
        span._icon-layers
          span._icon-layer
          span._icon-layer
          span._icon-layer
          span._icon-layer
      aside._filter
        +form-filter
      section._section
        h1._h1
          | Номера, которые мы для вас подобрали
        ._rooms
          +room([
            ['888-1-small.jpg', 'Комната 888 (1)'],
            ['888-2-small.jpg', 'Комната 888 (2)'],
            ['888-3-small.jpg', 'Комната 888 (3)'],
            ['888-3-small.jpg', 'Комната 888 (3)'],
          ], '888', 'Люкс', '9 990₽', 5, '145', 'true')
          +room([
            ['840-1-small.jpg', 'Комната 840 (1)'],
            ['840-1-small.jpg', 'Комната 840 (1)'],
            ['840-1-small.jpg', 'Комната 840 (1)'],
            ['840-1-small.jpg', 'Комната 840 (1)'],
          ], '840', '', '9 900₽', 4, '65')
          +room([
            ['980-1-small.jpg', 'Комната 980 (1)'],
            ['980-1-small.jpg', 'Комната 980 (2)'],
            ['980-1-small.jpg', 'Комната 980 (3)'],
            ['980-1-small.jpg', 'Комната 980 (4)'],
          ], '980', 'Люкс', '8 500₽', 3, '35')
          +room([
            ['856-1-small.jpg', 'Комната 856 (1)'],
            ['856-1-small.jpg', 'Комната 856 (2)'],
            ['856-1-small.jpg', 'Комната 856 (3)'],
            ['856-1-small.jpg', 'Комната 856 (4)'],
          ], '856', '', '7 300₽', 5, '19')
          +room([
            ['740-1-small.jpg', 'Комната 740 (1)'],
            ['740-1-small.jpg', 'Комната 740 (2)'],
            ['740-1-small.jpg', 'Комната 740 (3)'],
            ['740-1-small.jpg', 'Комната 740 (4)'],
          ], '740', '', '6 000₽', 4, '44')
          +room([
            ['982-1-small.jpg', 'Комната 982 (1)'],
            ['982-1-small.jpg', 'Комната 982 (2)'],
            ['982-1-small.jpg', 'Комната 982 (3)'],
            ['982-1-small.jpg', 'Комната 982 (4)'],
          ], '982', '', '5 800₽', 3, '56')
          +room([
            ['678-1-small.jpg', 'Комната 678 (1)'],
            ['678-1-small.jpg', 'Комната 678 (2)'],
            ['678-1-small.jpg', 'Комната 678 (3)'],
            ['678-1-small.jpg', 'Комната 678 (4)'],
          ], '678', '', '5 500₽', 5, '45')
          +room([
            ['450-1-small.jpg', 'Комната 450 (1)'],
            ['450-1-small.jpg', 'Комната 450 (2)'],
            ['450-1-small.jpg', 'Комната 450 (3)'],
            ['450-1-small.jpg', 'Комната 450 (4)'],
          ], '450', '', '5 300₽', 4, '39')
          +room([
            ['350-1-small.jpg', 'Комната 350 (1)'],
            ['350-1-small.jpg', 'Комната 350 (2)'],
            ['350-1-small.jpg', 'Комната 350 (3)'],
            ['350-1-small.jpg', 'Комната 350 (4)'],
          ], '350', '', '5 000₽', 3, '77')
          +room([
            ['666-1-small.jpg', 'Комната 666 (1)'],
            ['666-1-small.jpg', 'Комната 666 (2)'],
            ['666-1-small.jpg', 'Комната 666 (3)'],
            ['666-1-small.jpg', 'Комната 666 (4)'],
          ], '666', '', '5 000₽', 5, '25')
          +room([
            ['444-1-small.jpg', 'Комната 444 (1)'],
            ['444-1-small.jpg', 'Комната 444 (2)'],
            ['444-1-small.jpg', 'Комната 444 (3)'],
            ['444-1-small.jpg', 'Комната 444 (4)'],
          ], '444', '', '5 000₽', 3, '15')
          +room([
            ['352-1-small.jpg', 'Комната 352 (1)'],
            ['352-1-small.jpg', 'Комната 352 (2)'],
            ['352-1-small.jpg', 'Комната 352 (3)'],
            ['352-1-small.jpg', 'Комната 352 (4)'],
          ], '352', '', '5 000₽', 3, '55')
        ._pagination
          +pagination
