.ui-colors-type {
  &__container {
    display: flex;
    justify-content: space-between;

    @include container;

    @include screen-md {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__colors,
  &__types {
    margin: 0;
    padding: 0;
    max-width: rem(410);
    width: 100%;
    list-style-type: none;
  }

  &__colors {
    margin-right: rem(20);

    @include screen-md {
      margin-right: 0;
      margin-bottom: rem(70);
    }
  }

  &__types {
    margin-right: 7.5%;

    @include screen-lg {
      margin-right: 5%;
    }

    @include screen-md {
      margin-right: 0;
    }
  }

  &__color:not(:last-child) {
    margin-bottom: rem(20);
  }

  &__type:not(:last-child) {
    margin-bottom: rem(50);
  }
}
