@import '~/scss/functions';
@import '~/scss/mixins';

.main-ui-colors-type {
  &__container {
    display: flex;
    justify-content: space-between;

    @include container;

    @include screen-md {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__section {
    max-width: rem(480);
    margin: 0 0 0 rem(40);

    @include screen-md {
      width: 100%;
      margin: rem(80) 0 0;
    }

    &:first-of-type {
      margin: 0;
    }

    &:last-of-type {
      margin-right: 1.5%;

      @include screen-lg {
        margin-right: 5%;
      }

      @include screen-md {
        margin-right: 0;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin-top: rem(20);

    &:first-child {
      margin-top: 0;
    }

    &--type {
      margin-top: rem(50);
    }
  }
}
