.button-like {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 20px;
  border: 1px solid $color-gray-25p;
  border-radius: 25% / 50%;
  background-image:
    $gradient-white,
    $gradient-primary;
  background-clip:
    padding-box,
    border-box;
  background-origin:
    padding-box,
    border-box;
  color: $color-gray-25p;
  font-size: 10px;
  line-height: 1;
  transition:
    color $transition-fast,
    border-color $transition-fast;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 10.5%;
    transform: translateY(-50%);

    @include material-icons(10px, $color-gray-25p);
  }

  &::before {
    content: 'favorite_border';
  }

  &::after {
    color: $color-primary-1;
    content: 'favorite';
    opacity: 0;
    transition: opacity $transition-fast;
  }

  &--active {
    border-color: transparent;
    color: $color-primary-1;

    &::after {
      opacity: 1;
    }
  }

  &__numbers {
    position: absolute;
    top: 23.5%;
    left: 63.5%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 155%;
    transform: translateX(-50%);

    &--increase {
      top: -76.5%;
    }

    &--anim-increase {
      top: 23.5%;
      transition: top $transition-fast;
    }

    &--anim-decrease {
      top: -76.5%;
      transition: top $transition-fast;
    }
  }
}
