//- Parameters:
//- int      number       - количество лайков в кнопке
//- string[] modifiers=[] - модификаторы блока

//- Examples:
//- +button-like(4)
//- +button-like(4, ['active'])

extends /pug/_functions.pug

mixin button-like(number, modifiers=[])
  - let mods = getModifiers('button-like', modifiers);

  button.button-like(class=mods)&attributes(attributes)
    span._numbers
      span._number
        | #{number}
