//- Parameters:
//- int      number       - количество лайков в кнопке
//- string[] modifiers=[] - модификаторы блока

//- Examples:
//- +button-like(4)
//- +button-like(4, ['active'])

mixin button-like(number, modifiers=[])
  button.button-like(class=getModifiers('button-like', modifiers))&attributes(attributes)
    span._numbers
      span._number
        | #{number}
