@import '~/scss/_functions';
@import '~/scss/_vars';
@import '~/scss/_mixins';

.button {
  position: relative;
  z-index: 1;
  display: block;
  min-width: rem(99);
  padding: rem(12.5) rem(18);
  border: 2px solid transparent;
  border-radius: rem(22);
  background-color: transparent;
  background-image:
    $gradient-white,
    $gradient-primary;
  background-clip:
    padding-box,
    border-box;
  background-origin:
    padding-box,
    border-box;
  color: $color-primary-1;
  font-weight: bold;
  font-size: rem(12);
  font-family: $font-family-primary;
  line-height: $line-height-secondary;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: color $time-primary;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: inherit;
    background-color: $color-white;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    opacity: 0;
    transition: opacity $time-primary;
  }

  &:hover,
  &:focus,
  &--hover {
    outline: 0;

    &::before {
      opacity: 0.5;
    }
  }

  &--fill {
    background-image: $gradient-primary;
    background-clip: border-box;
    background-origin: border-box;
    color: $color-white;
  }

  &--compact {
    min-width: auto;
    padding-top: rem(7.5);
    padding-bottom: rem(7.5);
  }

  &--wide {
    width: 100%;
    padding-right: rem(44);
    padding-left: rem(44);

    &::after {
      content: 'arrow_forward';
      position: absolute;
      top: 50%;
      right: rem(10);
      background-image: $gradient-primary;
      background-clip: text;
      transform: translateY(-50%);

      @include material-icons(rem(24), transparent);
    }
  }

  &--fill#{&}--wide {
    &::after {
      background-image: $gradient-white;
    }
  }

  &--bodyless {
    width: auto;
    min-width: auto;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-image: none;
    color: $color-primary-1;
    transition: opacity $time-primary;

    &::before,
    &::after {
      content: none;
    }

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  &--text-gray {
    color: $color-gray-50p;
  }
}
