//- Parameters:
//- string   text         - текст кнопки
//- string[] modifiers=[] - модификаторы блока
//- object   attrs={}     - атрибуты кнопки

//- Examples:
//- +button('Sign Up')
//- +button('Sign Up', {
//-   'href': '#',
//- })
//- +button('Sign In', ['fill', 'compact'])
//- +button('Sign In', ['fill', 'compact'], {
//-   'href': '#',
//- })

mixin button(text, modifiers=[], attrs={})
  if (attrs.href)
    a.button(class=getModifiers('button', modifiers))&attributes(attrs)
      | #{text}
  else
    button.button(class=getModifiers('button', modifiers), type='button')&attributes(attrs)
      | #{text}
