//- Parameters:
//- string   text         - текст кнопки
//- string[] modifiers=[] - модификаторы блока

//- Examples:
//- +button('Sign Up')
//- +button('Sign Up')(href='#')
//- +button('Sign In', ['fill', 'compact'])
//- +button('Sign In', ['fill', 'compact'])(href='#')

mixin button(text, modifiers=[])
  if (attributes.href)
    a.button(class=getModifiers('button', modifiers))&attributes(attributes)
      | #{text}
  else
    button.button(class=getModifiers('button', modifiers))&attributes(attributes)
      | #{text}
