.button {
  position: relative;
  z-index: 5;
  display: inline-block;
  padding: 14px 17px;
  min-width: 99px;
  min-height: 44px;
  border: 2px solid transparent;
  border-radius: 22px;
  background-color: transparent;
  background-image:
    $gradient-white,
    $gradient-primary;
  background-clip:
    padding-box,
    border-box;
  background-origin:
    padding-box,
    border-box;
  color: $color-primary;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -5;
    display: inline-block;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: inherit;
    border-radius: inherit;
    background-image:
      $gradient-white,
      $gradient-white-trans;
    background-clip: inherit;
    background-origin: inherit;
    content: '';
    opacity: 0;
    transition: opacity $transition-fast;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:active {
    &::before {
      opacity: 1;
    }
  }

  &--fill {
    background-image: $gradient-primary;
    background-clip: border-box;
    background-origin: border-box;
    color: $color-white;

    &::before {
      background-image: $gradient-white-trans;
    }
  }

  &--compact {
    padding-top: 9px;
    padding-bottom: 9px;
    min-width: auto;
    min-height: auto;
  }

  &--wide {
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
  }

  &--bodyless {
    padding: 0;
    min-width: auto;
    min-height: auto;
    width: auto;
    border: 0;
    border-radius: 0;
    background-image: none;
    color: $color-primary;
    transition: color $transition-fast;

    &::before {
      content: none;
    }

    &:hover,
    &:active {
      color: $color-gray-50;
    }
  }
}
