.button {
  position: relative;
  z-index: 5;
  display: inline-block;
  min-width: 99px;
  min-height: 44px;
  padding: 14px 17px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: $color-primary;
  background-color: transparent;
  background-image:
    linear-gradient($color-white, $color-white),
    linear-gradient($color-primary, $color-secondary);
  background-origin:
    padding-box,
    border-box;
  background-clip:
    padding-box,
    border-box;
  border: 2px solid transparent;
  border-radius: 22px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -5;
    display: inline-block;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-image:
      linear-gradient($color-white, $color-white),
      linear-gradient(rgba($color-white, 0.5), rgba($color-white, 0.5));
    background-origin: inherit;
    background-clip: inherit;
    border: inherit;
    border-radius: inherit;
    opacity: 0;
    transition: opacity $transition-fast;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:active {
    &::before {
      opacity: 1;
    }
  }

  &_fill {
    color: $color-white;
    background-image: linear-gradient($color-primary, $color-secondary);
    background-origin: border-box;
    background-clip: border-box;

    &::before {
      background-image: linear-gradient(rgba($color-white, 0.5), rgba($color-white, 0.5));
    }
  }

  &_compact {
    min-width: auto;
    min-height: auto;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &_wide {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
  }

  &_bodyless {
    width: auto;
    min-width: auto;
    min-height: auto;
    padding: 0;
    color: $color-primary;
    background-image: none;
    border: 0;
    border-radius: 0;
    transition: color $transition-fast;

    &::before {
      content: none;
    }

    &:hover,
    &:active {
      color: $color-gray-50;
    }
  }
}
