//- Parameters:
//- string   text         - текст кнопки
//- string[] modifiers=[] - модификаторы блока

//- Examples:
//- +button('Sign Up')
//- +button('Sign Up')(href='#')
//- +button('Sign In', ['fill', 'compact'])
//- +button('Sign In', ['fill', 'compact'])(href='#')

extends /pug/_functions.pug

mixin button(text, modifiers=[])
  - let mods = getModifiers('button', modifiers);

  if (attributes.href)
    a.button(class=mods)&attributes(attributes)
      | #{text}
  else
    button.button(class=mods)&attributes(attributes)
      | #{text}
