mixin pagination
  .pagination
    ._buttons
      //- button._button.-prev(type='button')
      //-   | Назад
      button._button.-current(type='button', disabled)
        | 1
      button._button(type='button')
        | 2
      button._button(type='button')
        | 3
      button._button.-dots(type='button', disabled)
        | ...
      button._button(type='button')
        | 15
      button._button.-next(type='button')
        | Вперёд
    ._text
      | 1 – 12 из 100+ вариантов аренды
