.pagination {
  max-width: fit-content;

  &__buttons {
    display: flex;
  }

  &__button {
    position: relative;
    z-index: 1;
    width: rem(40);
    height: rem(40);
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    color: $color-gray-50p;
    font-size: rem(12);
    font-family: $font-family-primary;
    cursor: pointer;
    transition:
      background-color $time-primary,
      color $time-primary;

    &[disabled] {
      cursor: not-allowed;
    }

    &:hover {
      background-color: $color-primary-1;
      color: $color-gray-75p;
    }

    &--prev,
    &--next {
      background-image: $gradient-secondary;

      @include hidden-text;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::before {
        content: '';
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: $color-white;
        opacity: 0;
        transition: opacity $time-primary;
      }

      &::after {
        @include material-icons(rem(24), $color-white);
      }

      &:hover {
        &::before {
          opacity: 0.5;
        }
      }
    }

    &--prev {
      &::after {
        content: 'arrow_back';
      }
    }

    &--next {
      &::after {
        content: 'arrow_forward';
      }
    }

    &--current {
      background-image: $gradient-primary;
      color: $color-white;
      font-weight: bold;

      &:hover {
        color: $color-white;
      }
    }
  }

  &__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(40);
    height: rem(40);
    color: $color-gray-50p;
    user-select: none;
  }

  &__text {
    margin-top: rem(10);
    text-align: center;
  }
}
