//- Parameters:
//- string[] modifiers=[] - модификаторы блока

//- Examples:
//- +body
//- +body(['ui'])

mixin body(modifiers=[])
  body.body(class=getModifiers('body', modifiers))
    if modifiers.includes('ui')
      a._link(href='/')
        | На главную
    block
