.body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: $color-white;

  &--ui {
    padding: rem(145) 0;
  }

  &--gray {
    background-color: $color-gray-5p;
  }

  &__link {
    position: absolute;
    top: rem(30);
    left: rem(30);
    width: rem(48);
    height: rem(48);
    background-image: url('./img/body-ui-logo.svg');
    background-size: contain;
    opacity: 0.25;

    @include hidden-text;

    @include screen-md {
      top: rem(24);
      left: rem(24);
    }

    @include screen-sm {
      top: rem(18);
      left: rem(18);
    }
  }

  & main {
    flex-grow: 1;
  }
}
