//- Options:
//- 🞂 mods: string[] - модификаторы блока

mixin body(options)
  -
    const defaults = {
      mods: [],
    };

  -
    const {
      mods,
    } = Object.assign(defaults, options);

  body.body(class=getModifiers('body', mods))
    if mods.includes('ui')
      a._link(href='/')
        | На главную
    block
