//- Options:
//- 🞂 modifiers: string[] - модификаторы блока

mixin body(options)
  -
    const defaults = {
      modifiers: [],
    };

  -
    const {
      modifiers,
    } = Object.assign(defaults, options);

  body.body(class=getModifiers('body', modifiers))
    if modifiers.includes('ui')
      a._link(href='/')
        | На главную
    block
