@import '~/scss/functions';
@import '~/scss/vars';
@import '~/scss/mixins';

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 360px;
  min-height: 100vh;
  margin: 0;
  background-color: $color-white;

  &--unanimated {
    *,
    *::before,
    *::after {
      transition-duration: 0ms !important;
      animation-duration: 0ms !important;
    }
  }

  &--ui {
    padding: rem(150) 0;

    @include screen-sm {
      padding: rem(140) 0;
    }

    @include screen-xs {
      padding: rem(130) 0;
    }
  }

  &--gray {
    background-color: $color-gray-5p;
  }

  &__link {
    position: absolute;
    top: rem(30);
    left: rem(30);
    width: rem(48);
    height: rem(48);
    background-image: url('./img/body-ui-logo.svg');
    background-size: contain;
    cursor: pointer;

    @include hidden-text;

    @include screen-md {
      top: rem(24);
      left: rem(24);
    }

    @include screen-sm {
      top: rem(20);
      left: rem(20);
    }
  }

  & main {
    flex-grow: 1;
  }
}
