include /blocks/calendar/calendar.pug
include /blocks/form-find/form-find.pug
include /blocks/form-reservation/form-reservation.pug
include /blocks/form-sign-in/form-sign-in.pug
include /blocks/form-sign-up/form-sign-up.pug
include /blocks/room/room.pug

mixin main-ui-cards
  main.main-ui-cards
    ._container
      h1._h1.visually-hidden
        | Cards
      ul._list
        li._item
          +form-find
        li._item
          +form-sign-up
        li._item
          +form-reservation
        li._item
          +form-sign-in
        li._item.-calendar
          +calendar
        li._item.-room
          +room([
            ['888-1-small.jpg', 'Номер 888 (1)'],
            ['888-2-small.jpg', 'Номер 888 (2)'],
            ['888-3-small.jpg', 'Номер 888 (3)'],
            ['888-3-small.jpg', 'Номер 888 (4)'],
          ], '888', 'Люкс', '9 990₽', 5, '145', 'true')
        li._item.-room
          +room([
            ['840-1-small.jpg', 'Номер 840 (1)'],
            ['840-1-small.jpg', 'Номер 840 (2)'],
            ['840-1-small.jpg', 'Номер 840 (3)'],
            ['840-1-small.jpg', 'Номер 840 (4)'],
          ], '840', '', '9 900₽', 4, '65')
