.ui-cards {
  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: rem(-40);
    max-height: rem(1200);

    @include container;

    @include screen-xxl {
      max-width: rem(860);
      max-height: rem(1800);
    }

    @include screen-lg {
      align-content: center;
      max-height: none;
    }
  }

  &__card {
    margin-top: rem(40);

    @include screen-xxl {
      &:nth-child(1) { order: 1; }
      &:nth-child(2) { order: 2; }
      &:nth-child(3) { order: 4; }
      &:nth-child(4) { order: 5; }
      &:nth-child(5) { order: 3; }
      &:nth-child(6) { order: 6; }
      &:nth-child(7) { order: 7; }
    }

    @include screen-lg {
      max-width: rem(380);

      &:nth-child(1) { order: 1; }
      &:nth-child(2) { order: 3; }
      &:nth-child(3) { order: 2; }
      &:nth-child(4) { order: 4; }
      &:nth-child(5) { order: 5; }
      &:nth-child(6) { order: 6; }
      &:nth-child(7) { order: 7; }
    }

    &:nth-child(-n+4) {
      width: percentage(380 / 1160);
    }

    &:nth-last-child(-n+3) {
      width: percentage(320 / 1160);
    }

    &:nth-child(-n+4),
    &:nth-last-child(-n+3) {
      @include screen-xxl {
        width: 47.5%;
      }

      @include screen-lg {
        width: 100%;
      }
    }

    &--calendar {
      max-width: rem(320);
    }

    &--room {
      max-width: rem(270);
    }
  }
}
