.form-filter {
  &__fieldset {
    margin: rem(30) 0 0;
    padding: 0;
    border: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &__legend {
    margin-bottom: rem(16);

    @include heading('h3');
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin-top: rem(10);

    &:first-child {
      margin-top: 0;
    }

    &--field {
      margin-top: rem(20);
    }
  }
}
