include /blocks/button-option/button-option.pug
include /blocks/calendar/calendar.pug
include /blocks/dropdown/dropdown.pug
include /blocks/ecl/ecl.pug
include /blocks/slider-range/slider-range.pug

mixin form-filter
  form.form-filter(method='get')
    fieldset._fieldset
      ul._list
        li._item.-field
          +calendar({
            type: 'field',
            dates: '2021-03-22/2021-03-26',
            labelFirst: 'Даты пребывания в отеле',
            attrsFieldFirst: {
              required: true,
            },
          })
        li._item.-field
          +dropdown({
            list: [
              {
                name: 'взрослые',
                values: [2, 0, 3],
                words: [],
              },
              {
                name: 'дети',
                values: [1, 0, 3],
                words: [],
              },
              {
                name: 'младенцы',
                values: [1, 0, 1],
                words: ['младенец', 'младенца', 'младенцев'],
              },
            ],
            words: ['гость', 'гостя', 'гостей'],
            labelPrimary: 'Гости',
            attrsField: {
              placeholder: 'Сколько гостей',
              required: true,
            },
          })
    fieldset._fieldset
      +slider-range({
        labelPrimary: 'Диапазон цены',
        min: 0,
        max: 15000,
        start: 5000,
        end: 10000,
        step: 100,
        unit: '₽',
        text: 'Стоимость за сутки пребывания в номере',
      })
    fieldset._fieldset
      legend._legend
        | Checkbox Buttons
      ul._list
        li._item
          +button-option({
            text: 'Можно курить',
            mods: ['checkbox'],
          })
        li._item
          +button-option({
            text: 'Можно с питомцами',
            mods: ['checkbox'],
            attrs: {
              checked: true,
            },
          })
        li._item
          +button-option({
            text: 'Можно пригласить гостей (до 10 человек)',
            mods: ['checkbox'],
            attrs: {
              checked: true,
            },
          })
    fieldset._fieldset
      legend._legend
        | Доступность
      ul._list
        li._item
          +button-option({
            text: 'Широкий коридор',
            textRich: 'Ширина коридоров в номере не менее 91 см.',
            mods: ['checkbox-rich'],
          })
        li._item
          +button-option({
            text: 'Помощник для инвалидов',
            textRich: 'На 1 этаже вас встретит специалист и проводит до номера.',
            mods: ['checkbox-rich'],
          })
    fieldset._fieldset
      +dropdown({
        list: [
          {
            name: 'спальни',
            values: [2, 0, 3],
            words: ['спальня', 'спальни', 'спален'],
          },
          {
            name: 'кровати',
            values: [2, 0, 3],
            words: ['кровать', 'кровати', 'кроватей'],
          },
          {
            name: 'ванные комнаты',
            values: [0, 0, 1],
            words: ['ванная комната', 'ванные комнаты', 'ванных комнат'],
          },
        ],
        labelPrimary: 'Удобства номера',
        attrsField: {
          placeholder: 'Какие удобства',
        },
      })
    fieldset._fieldset
      +ecl({
        text: 'Дополнительные удобства',
        list: [
          ['Завтрак'],
          ['Письменный стол', true],
          ['Стул для кормления', true],
          ['Кроватка', true],
          ['Телевизор'],
          ['Шампунь'],
        ],
      })
