//- Examples:
//- +main-ui-headers-footers

include /blocks/footer/footer.pug
include /blocks/header/header.pug

mixin main-ui-headers-footers
  main.main-ui-headers-footers
    h1._h1.visually-hidden
      | Headers & Footers
    section._section
      h2._h2.visually-hidden
        | Headers
      ul._list
        li._item.-first-header
          +header
        li._item
          +header({
            isLogin: true,
          })
    section._section
      h2._h2.visually-hidden
        | Footers
      ul._list
        li._item
          +footer
