.main-ui-headers-footers {
  &__section:not(:first-of-type) {
    margin-top: rem(40);
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin-top: rem(40);

    &:first-child {
      margin-top: 0;
    }

    &--first-header {
      position: relative;
      z-index: 101;
    }
  }
}
