@import '~/scss/_functions';
@import '~/scss/_vars';
@import '~/scss/_mixins';

.form-field {
  position: relative;

  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: rem(44);
    height: rem(44);
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: opacity $time-primary;

    @include hidden-text;

    &::before {
      content: 'arrow_forward';
      position: absolute;
      top: 50%;
      left: 50%;
      background-image: $gradient-primary;
      background-clip: text;
      transform: translate(-50%, -50%);

      @include material-icons(rem(24), transparent);
    }

    &:hover,
    &:focus {
      outline: 0;
      opacity: 0.5;
    }
  }
}
