//- Parameters:
//- string   labelPrimary=''   - лейбл поля (первичный)
//- string   labelSecondary='' - лейбл поля (вторичный)
//- object   attrsField={}     - атрибуты поля

//- Examples:
//- +form-field('Subscription Text Field', '', {
//-   'type': 'email',
//-   'placeholder': 'Email',
//- })

include /blocks/field/field.pug

mixin form-field(labelPrimary='', labelSecondary='', attrsField={})
  form.form-field(method='post')
    +field(labelPrimary, labelSecondary, [], Object.assign(attrsField, {
      'required': true,
    }))
    button._button(type='submit')
      | Отправить
