//- Options:
//- 🞂 labelPrimary: string   - лейбл поля формы (первичный)
//- 🞂 labelSecondary: string - лейбл поля формы (вторичный)
//- 🞂 attrsField: object     - атрибуты поля формы

include /blocks/field/field.pug

mixin form-field(options)
  -
    const defaults = {
      labelPrimary: '',
      labelSecondary: '',
      attrsField: {
        type: 'email',
        placeholder: 'Email',
      },
    };

  -
    const {
      labelPrimary,
      labelSecondary,
      attrsField,
    } = Object.assign(defaults, options);

  form.form-field(method='post')
    +field({
      labelPrimary,
      labelSecondary,
      attrs: Object.assign(attrsField, {
        required: true,
      }),
    })
    button._button(type='submit')
      | Отправить
