//- Options:
//- 🞂 list: [[      - список перечислений
//-   🞂 [0]: string - текст пункта списка
//-   🞂 [1]: string - значение атрибута «href» пункта списка (тогда пункт автоматически становится ссылкой)
//-   ]]

include /blocks/link/link.pug

mixin list-bullet(options)
  -
    const defaults = {
      list: [
        ['undefined'],
        ['undefined'],
        ['undefined'],
      ],
    };

  -
    const {
      list,
    } = Object.assign(defaults, options);

  ul.list-bullet
    each item in list
      li._item
        if item[1]
          +link({
            text: item[0],
            modifiers: ['moving'],
            attrs: {
              href: item[1],
            },
          })
        else
          | #{item[0]}
