.list-bullet {
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;

  &__item {
    position: relative;
    margin-bottom: 10px;
    color: $color-gray-75p;

    &::before {
      position: absolute;
      top: 7px;
      left: -20px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color-gray-25p;
      content: '';
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: inherit;
    transition: $transition-fast;

    &:hover {
      color: $color-black;
    }
  }
}
