//- Parameters:
//- string[[]] list - список перечислений, где каждый пункт (массив) содержит:
//-                   - текст пункта
//-                   - значение атрибута «href» у пункта (опционально)

//- Examples:
//- +list-bullet([
//-   ['Milk'],
//-   ['Cheese'],
//- ])
//- +list-bullet([
//-   ['Car', '/car.html'],
//-   ['Bike', '/bike.html'],
//-   ['Scooty', '/scooty.html'],
//- ])

mixin list-bullet(list)
  ul.list-bullet
    each item in list
      li._item
        if item[1]
          a._link(href=item[1])
            | #{item[0]}
        else
          | #{item[0]}
