.list-bullet {
  margin: 0;
  padding: 0 0 0 rem(20);
  list-style-type: none;

  &__item {
    position: relative;
    margin-top: rem(10);

    &:first-child {
      margin-top: 0;
    }

    &::before {
      position: absolute;
      top: rem(7);
      left: rem(-20);
      width: rem(10);
      height: rem(10);
      border-radius: 50%;
      background-color: $color-gray-25p;
      content: '';
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    transition: color $time-primary;

    &:hover {
      color: $color-black;
    }
  }
}
