.list-bullet {
  margin: 0;
  padding: 0 0 0 rem(20);
  list-style-type: none;

  &__item {
    position: relative;
    margin-bottom: rem(10);
    color: $color-gray-75p;

    &::before {
      position: absolute;
      top: rem(7);
      left: rem(-20);
      width: rem(10);
      height: rem(10);
      border-radius: 50%;
      background-color: $color-gray-25p;
      content: '';
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: inherit;
    transition: color $transition-fast;

    &:hover {
      color: $color-black;
    }
  }
}
