.room-info {
  color: $color-black;
  font-weight: bold;
  font-family: $font-family-secondary;
  line-height: $line-height-secondary;

  &__number {
    font-size: rem(24);
  }

  &--small &__number {
    font-size: rem(19);
  }

  &__tag {
    color: $color-primary;
    font-size: rem(12);
    font-family: $font-family-primary;
    text-transform: uppercase;
  }
}
