@import '~/scss/functions';
@import '~/scss/vars';

.room-info {
  color: $color-black;
  font-weight: bold;
  line-height: $line-height-secondary;

  &__number {
    font-size: rem(24);
  }

  &--small &__number {
    font-size: rem(19);
  }

  &__tag {
    margin-left: rem(8);
    color: $color-primary-1;
    font-size: rem(12);
    font-family: $font-family-primary;
    text-transform: uppercase;
  }
}
