.heading {
  color: $color-gray-100;
  font-weight: bold;
  font-size: 24px;
  font-family: $font-family-secondary;
  line-height: 1.25;

  &--middle {
    font-size: 19px;
  }

  &--small {
    font-size: 12px;
    font-family: $font-family-primary;
  }
}
