//- Options:
//- 🞂 text: string   - текст списка чекбоксов
//- 🞂 list: [[       - список чекбоксов
//-   🞂 [0]: string  - текст чекбокса
//-   🞂 [1]: boolean - если true, то чекбокс отмечен
//-   ]]
//- 🞂 mods: string[] - модификаторы блока

include /blocks/button-option/button-option.pug

mixin ecl(options)
  -
    const defaults = {
      text: 'undefined',
      list: [
        ['undefined'],
        ['undefined'],
        ['undefined'],
      ],
      mods: [],
    };

  -
    const {
      text,
      list,
      mods,
    } = Object.assign(defaults, options);

  .ecl(class=getModifiers('ecl', mods))
    button._button(type='button')
      span._text
        | #{text}
    ul._list(style='--height: 100vh;')
      each item in list
        li._item
          +button-option({
            text: item[0],
            mods: ['checkbox'],
            attrs: {
              checked: item[1],
            },
          })
