.ecl {
  &__button {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;
    text-align: left;

    @include heading('h3');

    &::before {
      content: 'expand_more';
      position: absolute;
      top: 50%;
      right: rem(10);
      transform: translateY(-50%);
      transition: transform $time-primary;

      @include material-icons(rem(24), $color-gray-50p);
    }
  }

  &--active &__button {
    &::before {
      transform:
        translateY(-50%)
        rotate(180deg);
    }
  }

  &__list {
    overflow: hidden;
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    opacity: 0;
    transition:
      margin-top $time-primary,
      max-height $time-primary,
      opacity $time-primary;
  }

  &--active &__list {
    max-height: var(--height);
    margin-top: rem(15);
    opacity: 1;
  }

  &__item:not(:first-child) {
    margin-top: rem(10);
  }
}
