//- Parameters:
//- string     text         - текст кнопки списка чекбоксов
//- string[[]] list         - список чекбоксов, где каждый пункт (массив) содержит:
//-                           - текст чекбокса
//-                           - если true, то чекбокс отмечен
//- string[]   modifiers=[] - модификаторы блока

//- Examples:
//- +ecl('Hotel Amenities', [
//-   ['Crib'],
//-   ['TV', true],
//-   ['Shampoo'],
//- ])

include /blocks/button-option/button-option.pug

mixin ecl(text, list, modifiers=[])
  .ecl(class=getModifiers('ecl', modifiers))
    button._button(type='button')
      | #{text}
    ul._list(style='--height: 100vh;')
      each item in list
        li._item
          +button-option({
            text: item[0],
            modifiers: ['checkbox'],
            attrs: {
              checked: item[1],
            },
          })
