//- Parameters:
//- string name - имя аккордеона
//- string text - текст аккордеона

//- Examples:
//- +accordion('services', 'Additional services')
//-   content...

mixin accordion(name, text)
  .accordion
    input._input(id=name, type='checkbox', name=name)
    label._label(for=name)
      | #{text}
    ._content(style='--height: 100vh')
      block
