.accordion {
  line-height: 1;

  &__input {
    display: none;
  }

  &__label {
    position: relative;
    display: block;
    padding-right: 50px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      content: 'expand_more';
      transition: transform $transition-medium;
      transform: translateY(-50%);

      @include material-icons(24px, $color-gray-50p);
    }
  }

  &__input:checked + &__label {
    &::before {
      transform:
        translateY(-50%)
        rotate(180deg);
    }
  }

  &__content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition:
      max-height $transition-medium,
      padding $transition-medium,
      opacity $transition-medium;
  }

  &__input:checked ~ &__content {
    padding: 15px 0;
    max-height: var(--height);
    opacity: 1;
  }
}
