//- Parameters:
//- string type='inline'       - тип календаря (inline / field / fields)
//- string selectedDates=''    - выбранные даты календаря в формате 'YYYY-MM-DD/YYYY-MM-DD'
//- string labelFirst=''       - лейбл первого поля календаря
//- string labelSecond=''      - лейбл второго поля календаря
//- object attrsFieldFirst={}  - атрибуты первого поля календаря
//- object attrsFieldSecond={} - атрибуты второго поля календаря

//- Examples:
//- +calendar
//- +calendar('inline', '2020-10-15/2020-10-20')
//- +calendar('field', '', 'Period')
//- +calendar('field', '2020-10-15/2020-10-20', 'Period')
//- +calendar('field', '2020-10-15/2020-10-20', 'Period', '', {
//-   'required': true,
//- })
//- +calendar('fields', '', 'Arrival', 'Departure')
//- +calendar('fields', '2020-10-15/2020-10-20', 'Arrival', 'Departure')
//- +calendar('fields', '2020-10-15/2020-10-20', 'Arrival', 'Departure', {
//-   'required': true,
//- }, {
//-   'required': true,
//- })

include /blocks/field/field.pug

mixin calendar(type='inline', selectedDates='', labelFirst='', labelSecond='', attrsFieldFirst={}, attrsFieldSecond={})
  .calendar(data-type=type, data-selected-dates=(selectedDates !== '') ? selectedDates : false)
    if type === 'field'
      +field(labelFirst, '', ['dropdown'], Object.assign(attrsFieldFirst, {
        'placeholder': 'ДД.ММ.ГГГГ',
        'readonly': true,
      }))
    else if type === 'fields'
      ._fields
        ._field
          +field(labelFirst, '', ['dropdown'], Object.assign(attrsFieldFirst, {
            'placeholder': 'ДД.ММ.ГГГГ',
            'readonly': true,
          }))
        ._field
          +field(labelSecond, '', ['dropdown'], Object.assign(attrsFieldSecond, {
            'placeholder': 'ДД.ММ.ГГГГ',
            'readonly': true,
          }))
