.calendar {
  position: relative;

  &__fields {
    display: flex;
    justify-content: space-between;
  }

  &__field {
    flex-grow: 1;
    margin-left: rem(20);

    &:first-child {
      margin-left: 0;
    }
  }

  &__container {
    z-index: 20;
    padding: rem(20);
    border: 1px solid $color-gray-25p;
    border-radius: $radius-primary;
    background-color: $color-white;
    box-shadow: $shadow-primary;
    animation-duration: $time-primary * 3;

    &--hidden {
      position: absolute;
      top: calc(100% + #{rem(20)});
      visibility: hidden;
      opacity: 0;
      transition:
        top $time-primary,
        visibility 1ms $time-primary,
        opacity $time-primary;
    }

    &--active {
      position: absolute;
      top: calc(100% + #{rem(10)});
      visibility: visible;
      opacity: 1;
      transition:
        top $time-primary,
        opacity $time-primary;
    }

    &--animated {
      animation-name: shakeX;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: rem(20);
  }
}

// https://github.com/animate-css/animate.css/blob/main/source/attention_seekers/shakeX.css
@keyframes shakeX {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
}

// -------------------------
// --- Datepicker config ---
// -------------------------

// Objects
// -------------------------------------------------

%otherMonth {
  color: $color-gray-25p;

  &:hover {
    color: $color-gray-25p;
  }

  &.-disabled- {
    &.-focus- {
      color: $color-gray-25p;
    }
  }

  &.-selected- {
    color: $color-white;
    background: rgba($color-primary, 0.25);

    &.-focus- {
      background: rgba($color-primary, 0.25);
    }
  }

  &.-in-range- {
    background-color: rgba($color-primary, 0.25);
    color: $color-gray-25p;

    &.-focus- {
      background-color: rgba($color-primary, 0.25);
    }
  }
}

// ------------------
// --- Datepicker ---
// ------------------

.datepicker-inline {
  .datepicker {
    z-index: auto;
    width: 100%;
    border: 0;
    border-radius: 0;
    color: $color-gray-50p;
    font-size: rem(12);
    font-family: $font-family-primary;
    user-select: none;
    background: $color-white;
    transition: all 0ms ease 0ms;
    box-sizing: border-box;
  }
}

.datepicker--content {
  margin-top: 10.5%;
  padding: 0;
  box-sizing: border-box;
}

// ------------------
// --- Navigation ---
// ------------------

.datepicker--nav {
  min-height: 0;
  padding: 0;
  border-bottom: 0;
}

.datepicker--nav-action {
  width: auto;
  border-radius: $radius-primary;

  &:hover {
    background: $color-gray-5p;
  }

  .material-icons {
    font-size: rem(24);
  }
}

.datepicker--nav-title {
  padding: 0 rem(8);
  border-radius: $radius-primary;

  @include heading('h2');

  &:hover {
    background: $color-gray-5p;
  }
}

// ------------------------
// --- Datepicker cells ---
// ------------------------

.datepicker--cell {
  z-index: 1;
  height: 0;
  padding-top: 7.2%;
  padding-bottom: 7.2%;
  border-radius: 50%;

  &.-focus- {
    background: rgba($color-primary, 0.25);
  }

  &.-current- {
    color: $color-white;
    font-weight: bold;
    background: $gradient-secondary;

    &.-focus-,
    &.-in-range-,
    &.-range-from-,
    &.-range-to- {
      color: $color-gray-50p;
      background: rgba($color-primary, 0.25);
    }
  }

  &.-in-range- {
    color: $color-gray-50p;
    background: rgba($color-primary, 0.25);

    &.-focus- {
      background-color: rgba($color-primary, 0.25);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 50%;
        background: rgba($color-primary, 0.25);
      }
    }
  }

  &.-disabled- {
    color: $color-gray-15p;
    cursor: not-allowed;

    &.-focus-,
    &.-in-range- {
      color: $color-gray-25p;
    }

    &.-current- {
      &.-focus- {
        color: $color-gray-25p;
      }
    }

    &.-range-from-,
    &.-range-to {
      color: $color-gray-25p;

      &::before {
        opacity: 0.5;
      }
    }
  }

  &.-range-from-,
  &.-range-to- {
    border: 0;
    background-color: rgba($color-primary, 0.25);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border: 2px solid $color-primary;
      border-radius: 50%;
    }
  }

  &.-range-from- {
    border-radius: 50% 0 0 50%;
  }

  &.-range-to- {
    border-radius: 0 50% 50% 0;
  }

  &.-range-from-.-range-to- {
    border-radius: 50%;
  }

  &.-selected- {
    color: $color-white;
    font-weight: bold;
    background: rgba($color-primary, 0.25);

    &::before {
      border: 0;
      background: $gradient-primary !important;
      opacity: 0.75;
    }

    &.-current- {
      color: $color-white;
      background: rgba($color-primary, 0.25);
    }

    &.-focus- {
      background: rgba($color-primary, 0.25);

      &::before {
        opacity: 1;
      }
    }
  }
}

//  Day names
// -------------------------------------------------

.datepicker--days-names {
  margin: 0;
}

.datepicker--day-name {
  height: 0;
  padding-top: 7.2%;
  padding-bottom: 7.2%;
  color: $color-primary;
  font-weight: bold;
  font-size: rem(12);
  text-transform: capitalize;
}

//  Day cell
// -------------------------

.datepicker--cell-day {
  &.-other-month- {
    @extend %otherMonth;
  }
}

//  Months
// -------------------------------------------------

.datepicker--cells-months {
  height: auto;
}

//  Month cell
// -------------------------

.datepicker--cell-month {
  width: 25%;
  height: 0;
  padding-top: 12.5%;
  padding-bottom: 12.5%;
}

//  Years
// -------------------------------------------------

.datepicker--years,
.datepicker--cells-years {
  height: auto;
}

//  Year cell
// -------------------------

.datepicker--cell-year {
  width: 25%;
  height: 0;
  padding-top: 12.5%;
  padding-bottom: 12.5%;

  &.-other-decade- {
    @extend %otherMonth;
  }
}
