.calendar {
  &__fields {
    display: flex;
    justify-content: space-between;
  }

  &__field {
    width: 100%;
    margin-left: rem(20);

    &:first-child {
      margin-left: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: rem(20);
  }
}

// -------------------------
// --- Datepicker config ---
// -------------------------

// Objects
// ------------------------

%otherMonth {
  color: $color-gray-25p;

  &.-in-range- {
    background-color: rgba($color-primary, 0.25);
    color: $color-gray-50p;

    &.-focus- {
      background-color: rgba($color-primary, 0.25);
    }
  }

  &.-disabled- {
    &.-focus- {
      color: $color-gray-25p;
    }
  }

  &.-range-from-,
  &.-range-to- {
    &::before {
      opacity: 0.5;
    }
  }

  &.-selected- {
    color: $color-white;
    background: rgba($color-primary, 0.25);

    &.-focus- {
      background: rgba($color-primary, 0.25);

      &::before {
        opacity: 1;
      }
    }
  }
}

// ------------------
// --- Datepicker ---
// ------------------

.datepicker {
  z-index: 1000;
  width: 100%;
  padding: rem(20);
  border: 1px solid $color-gray-25p;
  border-radius: $radius-primary;
  color: $color-gray-50p;
  box-shadow: $shadow-primary;
  font-size: rem(12);
  font-family: $font-family-primary;
  user-select: none;
  box-sizing: border-box;
  background: $color-white;
}

.datepicker-inline {
  .datepicker {
    border-color: $color-gray-25p;
    box-shadow: $shadow-primary;
  }
}

.datepicker--content {
  margin-top: 10.5%;
  padding: 0;
  box-sizing: border-box;
}

.datepicker--pointer {
  display: none;
}

// ------------------
// --- Navigation ---
// ------------------

.datepicker--nav {
  min-height: 0;
  padding: 0;
  border-bottom: 0;
}

.datepicker--nav-action {
  width: auto;
  border-radius: $radius-primary;

  &:hover {
    background: $color-gray-5p;
  }

  path {
    stroke: $color-primary;
  }

  .material-icons {
    font-size: rem(24);
  }
}

.datepicker--nav-title {
  padding: 0 rem(6);
  border-radius: $radius-primary;

  @include heading('h2');

  i {
    margin-left: rem(6);
    color: $color-primary;
  }

  &:hover {
    background: $color-gray-5p;
  }
}

// ------------------------
// --- Datepicker cells ---
// ------------------------

.datepicker--cell {
  z-index: 5;
  height: 0;
  padding-top: 7.2%;
  padding-bottom: 7.2%;
  border-radius: 50%;

  &.-focus- {
    background: rgba($color-primary, 0.25);
  }

  &.-current- {
    color: $color-white;
    font-weight: bold;
    background: $gradient-secondary;

    &.-focus-,
    &.-in-range-,
    &.-range-from-,
    &.-range-to- {
      color: $color-gray-50p;
      background: rgba($color-primary, 0.25);
    }
  }

  &.-in-range- {
    color: $color-gray-50p;
    background: rgba($color-primary, 0.25);

    &.-focus- {
      background-color: rgba($color-primary, 0.25);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -5;
        border-radius: 50%;
        background: rgba($color-primary, 0.25);
      }
    }
  }

  &.-disabled- {
    color: $color-gray-10p;
    cursor: not-allowed;

    &.-focus-,
    &.-in-range-,
    &.-range-from-,
    &.-range-to- {
      color: $color-gray-25p;
    }

    &.-current- {
      &.-focus- {
        color: $color-gray-25p;
      }
    }
  }

  &.-range-from-,
  &.-range-to- {
    border: 0;
    background-color: rgba($color-primary, 0.25);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -5;
      border: 2px solid $color-primary;
      border-radius: 50%;
    }
  }

  &.-range-from- {
    border-radius: 50% 0 0 50%;
  }

  &.-range-to- {
    border-radius: 0 50% 50% 0;
  }

  &.-range-from-.-range-to- {
    border-radius: 50%;
  }

  &.-selected- {
    color: $color-white;
    font-weight: bold;
    background: rgba($color-primary, 0.25);

    &::before {
      border: 0;
      background: $gradient-primary !important;
      opacity: 0.75;
    }

    &.-current- {
      color: $color-white;
      background: rgba($color-primary, 0.25);
    }

    &.-focus- {
      background: rgba($color-primary, 0.25);

      &::before {
        opacity: 1;
      }
    }
  }
}

// Days
// ------------------------

.datepicker--days-names {
  margin: 0;
}

.datepicker--day-name {
  height: 0;
  padding-top: 7.2%;
  padding-bottom: 7.2%;
  color: $color-primary;
  font-weight: bold;
  font-size: rem(12);
  text-transform: capitalize;
}

.datepicker--cell-day {
  &.-other-month- {
    @extend %otherMonth;
  }
}

// Months
// ------------------------

.datepicker--cells-months {
  height: auto;
}

.datepicker--cell-month {
  width: 25%;
  height: 0;
  padding-top: 12.5%;
  padding-bottom: 12.5%;
}

// Years
// ------------------------

.datepicker--years {
  height: auto;
}

.datepicker--cells-years {
  height: auto;
}

.datepicker--cell-year {
  width: 25%;
  height: 0;
  padding-top: 12.5%;
  padding-bottom: 12.5%;

  &.-other-decade- {
    @extend %otherMonth;
  }
}
