//- Options:
//- 🞂 type: string             - тип календаря (inline | field | fields)
//- 🞂 dates: string            - начальный диапазон дат календаря (в формате 'YYYY-MM-DD/YYYY-MM-DD')
//- 🞂 labelFirst: string       - лейбл 1-го поля календаря
//- 🞂 labelSecond: string      - лейбл 2-го поля календаря
//- 🞂 attrsFieldFirst: object  - атрибуты 1-го поля календаря
//- 🞂 attrsFieldSecond: object - атрибуты 2-го поля календаря

include /blocks/field/field.pug

mixin calendar(options)
  -
    const defaults = {
      type: 'inline',
      dates: '',
      labelFirst: '',
      labelSecond: '',
      attrsFieldFirst: {},
      attrsFieldSecond: {},
    };

  -
    const {
      type,
      dates,
      labelFirst,
      labelSecond,
      attrsFieldFirst,
      attrsFieldSecond,
    } = Object.assign(defaults, options);

  - const isFields = type !== 'inline';

  .calendar(data-dates=dates || false)
    input._input(type='hidden')
    if isFields
      ._fields
        if type === 'fields'
          ._field
            +field({
              labelPrimary: labelFirst,
              modifiers: ['dropdown'],
              attrs: Object.assign(attrsFieldFirst, {
                placeholder: 'ДД.ММ.ГГГГ',
                readonly: true,
              }),
            })
          ._field
            +field({
              labelPrimary: labelSecond,
              modifiers: ['dropdown'],
              attrs: Object.assign(attrsFieldSecond, {
                placeholder: 'ДД.ММ.ГГГГ',
                tabindex: '-1',
                readonly: true,
              }),
            })
        else if type === 'field'
          ._field
            +field({
              labelPrimary: labelFirst,
              modifiers: ['dropdown'],
              attrs: Object.assign(attrsFieldFirst, {
                placeholder: 'ДД.ММ.ГГГГ',
                readonly: true,
              }),
            })
    else
      //- горячие клавиши работают только в том случае,
      //- если air-datepicker привязан к текстовому полю
      input._fake
    ._container(class=getModifiers('calendar__container', isFields ? ['hidden'] : []))
      ._datepicker
      ._buttons
        ._button
          +button({
            text: 'Очистить',
            modifiers: ['bodyless', 'text-gray'],
            attrs: {
              name: 'reset',
            },
          })
        ._button
          +button({
            text: 'Применить',
            modifiers: ['bodyless'],
            attrs: {
              name: 'apply',
            },
          })
