include /blocks/advantages/advantages.pug
include /blocks/button/button.pug
include /blocks/button-like/button-like.pug
include /blocks/button-option/button-option.pug
include /blocks/calendar/calendar.pug
include /blocks/dropdown/dropdown.pug
include /blocks/ecl/ecl.pug
include /blocks/field/field.pug
include /blocks/form-field/form-field.pug
include /blocks/list-bullet/list-bullet.pug
include /blocks/pagination/pagination.pug
include /blocks/rating/rating.pug
include /blocks/review/review.pug
include /blocks/slider-range/slider-range.pug

mixin main-ui-form-elements
  main.main-ui-form-elements
    ._container
      h1._h1.visually-hidden
        | Form Elements
      section._section
        h2._h2.visually-hidden
          | Fields
        section._subsection
          h3._h3.visually-hidden
            | Text Fields
          ul._list
            li._item
              +field({
                labelPrimary: 'Text Field',
                labelSecondary: 'Default',
                attrs: {
                  type: 'email',
                  placeholder: 'Email',
                },
              })
            li._item
              +field({
                labelPrimary: 'Text Field',
                labelSecondary: 'Hover / Focus',
                attrs: {
                  placeholder: 'Enter text',
                  value: 'This is pretty awesome',
                },
              })
            li._item
              +dropdown({
                list: [
                  {
                    name: 'взрослые',
                    values: [0, 0, 3],
                    words: [],
                  },
                  {
                    name: 'дети',
                    values: [0, 0, 3],
                    words: [],
                  },
                  {
                    name: 'младенцы',
                    values: [0, 0, 1],
                    words: ['младенец', 'младенца', 'младенцев'],
                  },
                ],
                words: ['гость', 'гостя', 'гостей'],
                labelPrimary: 'Dropdown',
                labelSecondary: 'Default',
                attrsField: {
                  placeholder: 'Сколько гостей',
                },
              })
            li._item
              +field({
                labelPrimary: 'Masked Text Field',
                labelSecondary: 'Default',
                attrs: {
                  placeholder: 'ДД.ММ.ГГГГ',
                  'data-mask': '00.00.0000',
                },
              })
        section._subsection
          h3._h3.visually-hidden
            | Date Dropdowns
          ul._list
            li._item
              +calendar({
                type: 'fields',
                selectedDates: '2021-03-22/2021-03-26',
                labelFirst: 'Date Dropdown',
                labelSecond: 'Date Dropdown',
              })
            li._item.-width-266.-margin-40
              +calendar({
                type: 'field',
                selectedDates: '2021-03-22/2021-03-26',
                labelFirst: 'Filter Date Dropdown',
              })
        section._subsection
          h3._h3.visually-hidden
            | One Field Forms
          ul._list
            li._item.-width-266
              +form-field({
                labelPrimary: 'Subscription Text Field',
                attrsField: {
                  type: 'email',
                  placeholder: 'Email',
                },
              })
      section._section
        h2._h2.visually-hidden
          | Buttons (Checkbox, Radio, Toggle, Like, Rate)
        section._subsection
          h3._h3
            | Checkbox Buttons
          ul._list
            li._item.-width-230
              +button-option({
                text: 'Можно курить',
                modifiers: ['checkbox'],
              })
            li._item.-width-230.-margin-10
              +button-option({
                text: 'Можно с питомцами',
                modifiers: ['checkbox'],
                attrs: {
                  checked: true,
                },
              })
            li._item.-width-230.-margin-10
              +button-option({
                text: 'Можно пригласить гостей (до 10 человек)',
                modifiers: ['checkbox'],
                attrs: {
                  checked: true,
                },
              })
        section._subsection
          h3._h3
            | Radio Buttons
          ul._list.-flex
            li._item.-flex
              +button-option({
                text: 'Мужчина',
                modifiers: ['radio'],
                attrs: {
                  name: 'gender',
                  checked: true,
                },
              })
            li._item.-flex
              +button-option({
                text: 'Женщина',
                modifiers: ['radio'],
                attrs: {
                  name: 'gender',
                },
              })
        section._subsection
          h3._h3
            | Toggle
          ul._list
            li._item
              +button-option({
                text: 'Получать спецпредложения',
                attrs: {
                  checked: true,
                },
              })
            li._item.-margin-10
              +button-option({
                text: 'Получать спецпредложения',
              })
        section._subsection
          h3._h3
            | Like Button
          ul._list.-flex
            li._item.-button-like
              +button-like({
                number: 2,
              })
            li._item.-button-like
              +button-like({
                number: 12,
                modifiers: ['active'],
              })
        section._subsection
          h3._h3
            | Rate Button
          ul._list.-flex
            li._item.-flex
              +rating({
                value: 4,
              })
            li._item.-flex
              +rating({
                value: 5,
              })
      section._section
        h2._h2.visually-hidden
          | Sliders, Buttons, Pagination
        section._subsection
          h3._h3.visually-hidden
            | Sliders
          ul._list
            li._item.-width-266
              +slider-range({
                min: 0,
                max: 15000,
                start: 5000,
                end: 10000,
                step: 100,
                unit: '₽',
              })
        section._subsection
          h3._h3
            | Buttons
          ul._list
            li._item
              ul._list.-flex
                li._item.-flex
                  +button({
                    text: 'Click Me',
                    modifiers: ['fill'],
                  })
                li._item.-flex
                  +button({
                    text: 'Click Me',
                    modifiers: ['fill', 'hover'],
                  })
            li._item.-margin-30
              ul._list.-flex
                li._item.-flex
                  +button({
                    text: 'Click Me',
                  })
                li._item.-flex
                  +button({
                    text: 'Click Me',
                    modifiers: ['hover'],
                  })
            li._item.-margin-30
              ul._list.-flex
                li._item.-flex
                  +button({
                    text: 'Click Me',
                    modifiers: ['bodyless'],
                  })
                li._item.-flex
                  +button({
                    text: 'Click Me',
                    modifiers: ['bodyless', 'text-gray', 'hover'],
                  })
            li._item.-margin-30
              +button({
                text: 'Перейти к оплате',
                modifiers: ['fill', 'wide'],
              })
        section._subsection
          h3._h3
            | Pagination
          ul._list
            li._item
              +pagination
      section._section.-dropdowns
        h2._h2.visually-hidden
          | Dropdowns
        section._subsection.-dropdowns
          h3._h3.visually-hidden
            | Dropdown (Default)
          ul._list
            li._item.-width-266
              +dropdown({
                list: [
                  {
                    name: 'спальни',
                    values: [2, 0, 3],
                    words: ['спальня', 'спальни', 'спален'],
                  },
                  {
                    name: 'кровати',
                    values: [2, 0, 3],
                    words: ['кровать', 'кровати', 'кроватей'],
                  },
                  {
                    name: 'ванные комнаты',
                    values: [0, 0, 1],
                    words: ['ванная комната', 'ванные комнаты', 'ванных комнат'],
                  },
                ],
                labelPrimary: 'Dropdown',
                labelSecondary: 'Default',
                attrsField: {
                  placeholder: 'Какие удобства',
                },
              })
            li._item.-width-266
              +dropdown({
                list: [
                  {
                    name: 'спальни',
                    values: [2, 0, 3],
                    words: ['спальня', 'спальни', 'спален'],
                  },
                  {
                    name: 'кровати',
                    values: [2, 0, 3],
                    words: ['кровать', 'кровати', 'кроватей'],
                  },
                  {
                    name: 'ванные комнаты',
                    values: [0, 0, 1],
                    words: ['ванная комната', 'ванные комнаты', 'ванных комнат'],
                  },
                ],
                labelPrimary: 'Dropdown',
                labelSecondary: 'Default',
                modifiers: ['expanded'],
                attrsField: {
                  placeholder: 'Какие удобства',
                },
              })
        section._subsection.-dropdowns
          h3._h3.visually-hidden
            | Dropdown (Buttons)
          ul._list
            li._item
              +dropdown({
                list: [
                  {
                    name: 'взрослые',
                    values: [0, 0, 3],
                    words: [],
                  },
                  {
                    name: 'дети',
                    values: [0, 0, 3],
                    words: [],
                  },
                  {
                    name: 'младенцы',
                    values: [0, 0, 1],
                    words: ['младенец', 'младенца', 'младенцев'],
                  },
                ],
                words: ['гость', 'гостя', 'гостей'],
                labelPrimary: 'Dropdown',
                labelSecondary: 'Default',
                isButtons: true,
                modifiers: ['expanded'],
                attrsField: {
                  placeholder: 'Сколько гостей',
                },
              })
        section._subsection.-dropdowns
          h3._h3.visually-hidden
            | Dropdown (Buttons / Filled)
          ul._list
            li._item
              +dropdown({
                list: [
                  {
                    name: 'взрослые',
                    values: [2, 0, 3],
                    words: [],
                  },
                  {
                    name: 'дети',
                    values: [1, 0, 3],
                    words: [],
                  },
                  {
                    name: 'младенцы',
                    values: [0, 0, 1],
                    words: ['младенец', 'младенца', 'младенцев'],
                  },
                ],
                words: ['гость', 'гостя', 'гостей'],
                labelPrimary: 'Dropdown',
                labelSecondary: 'Default',
                isButtons: true,
                modifiers: ['expanded'],
                attrsField: {
                  placeholder: 'Сколько гостей',
                },
              })
      section._section
        h2._h2.visually-hidden
          | Expandable Checkbox List
        ul._list
          li._item.-width-266
            +ecl({
              list: [
                ['Завтрак'],
                ['Письменный стол', true],
                ['Стул для кормления', true],
                ['Кроватка', true],
                ['Телевизор'],
                ['Шампунь'],
                ['Телевизор'],
                ['Шампунь'],
              ],
            })
          li._item.-width-266.-margin-50
            +ecl({
              list: [
                ['Завтрак'],
                ['Письменный стол', true],
                ['Стул для кормления', true],
                ['Кроватка', true],
                ['Телевизор'],
                ['Шампунь'],
                ['Телевизор'],
                ['Шампунь'],
              ],
              modifiers: ['active'],
            })
      section._section
        h2._h2.visually-hidden
          | Additional Buttons
        section._subsection
          h3._h3
            | Rich Checkbox Buttons
          ul._list
            li._item.-width-266
              +button-option({
                text: 'Широкий коридор',
                textRich: 'Ширина коридоров в номере не менее 91 см.',
                modifiers: ['checkbox-rich'],
              })
            li._item.-width-266.-margin-10
              +button-option({
                text: 'Помощник для инвалидов',
                textRich: 'На 1 этаже вас встретит специалист и проводит до номера.',
                modifiers: ['checkbox-rich'],
              })
      section._section
        h2._h2.visually-hidden
          | Lists
        section._subsection
          h3._h3
            | Bullet List
          ul._list
            li._item.-width-266
              +list-bullet({
                list: [
                  ['Нельзя с питомцами'],
                  ['Без вечеринок и мероприятий'],
                  ['Время прибытия — после 13:00, а выезд до 12:00'],
                ],
              })
      section._section
        h2._h2.visually-hidden
          | Advantages
        ul._list
          li._item.-width-280
            +advantages({
              list: [
                ['insert_emoticon', 'Комфорт', 'Шумопоглощающие стены'],
                ['location_city', 'Удобство', 'Окно в каждой из спален'],
              ],
              modifiers: ['ui'],
            })
      section._section.-reviews
        h2._h2.visually-hidden
          | Reviews
        ul._list
          li._item
            +review({
              image: 'sarafanov-murad.jpg',
              author: 'Мурад Сарафанов',
              time: '5 дней назад',
              datetime: '2020-10-30',
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
              likes: 12,
              isLike: true,
            })
