@import '~/scss/_functions';
@import '~/scss/_mixins';

.main-ui-form-elements {
  &__container {
    display: grid;
    grid-template-columns: minmax(0, rem(374)) minmax(0, rem(320)) minmax(0, rem(322));
    grid-gap: rem(40);
    justify-content: space-between;

    @include container;

    @include screen-xl {
      grid-template-columns: minmax(0, rem(320)) minmax(0, rem(320));
      grid-gap: rem(40) rem(80);
      justify-content: center;
    }

    @include screen-md {
      grid-template-columns: minmax(0, rem(320));
      grid-gap: rem(80) 0;
    }
  }

  &__section {
    max-width: rem(320);

    &:nth-of-type(3) {
      @include screen-xl {
        margin: rem(60) 0 rem(15);
      }

      @include screen-md {
        margin: 0;
      }
    }

    &:nth-of-type(4) {
      margin: rem(60) 0 rem(15);

      @include screen-md {
        margin: 0;
      }
    }

    &--dropdowns {
      display: grid;
      grid-template-columns: minmax(0, rem(374)) minmax(0, rem(320)) minmax(0, rem(322));
      grid-column: 1 / 4;
      grid-gap: 0 rem(40);
      justify-content: space-between;
      max-width: none;

      @include screen-xl {
        grid-template-columns: 1fr;
        grid-column: auto;
      }
    }

    &--advantages {
      margin-top: rem(60);

      @include screen-xl {
        margin-top: 0;
      }
    }

    &--reviews {
      grid-column: 2 / 4;
      max-width: none;
      margin-top: rem(60);
      padding-top: rem(12);

      @include screen-xl {
        grid-column: 1 / 3;
        margin-top: 0;
        padding-top: 0;
      }

      @include screen-md {
        grid-column: auto;
      }
    }
  }

  &__subsection {
    margin-top: rem(40);

    &:first-of-type {
      margin-top: 0;
    }

    &--dropdowns {
      margin-top: 0;

      @include screen-xl {
        margin-top: rem(40);
      }
    }
  }

  &__h3 {
    margin: 0 0 rem(16);

    @include heading('h3');
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &--flex {
      display: flex;
    }
  }

  &__item {
    margin-top: rem(20);

    &:first-child {
      margin: 0;
    }

    &--width-280 {
      max-width: rem(280);
    }

    &--width-266 {
      max-width: rem(266);
    }

    &--width-230 {
      max-width: rem(230);
    }

    &--margin-50 {
      margin-top: rem(50);
    }

    &--margin-40 {
      margin-top: rem(40);
    }

    &--margin-30 {
      margin-top: rem(30);
    }

    &--margin-10 {
      margin-top: rem(10);
    }

    &--flex {
      margin: 0 0 0 rem(20);
    }

    &--button-like {
      margin: 0 0 0 rem(10);
    }
  }
}
