.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;

  &--hidden {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 1ms 600ms,
      opacity 600ms;
  }

  &__loader {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 -4px 1px $color-primary-1;
    animation: spin 2s linear infinite;

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      animation: spin linear infinite;
    }

    &::before {
      top: 12px;
      right: 12px;
      bottom: 12px;
      left: 12px;
      box-shadow: 0 -4px 1px $color-primary-2;
      animation-duration: 3s;
    }

    &::after {
      top: 26px;
      right: 26px;
      bottom: 26px;
      left: 26px;
      box-shadow: 0 -4px 1px $color-secondary-2;
      animation-duration: 1.5s;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
