.socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item:not(:first-child) {
    margin-left: rem(20);
  }

  &__link {
    display: block;
    transition: opacity $time-primary;

    @include hidden-text;

    &::before {
      content: '';
      display: block;
      width: rem(24);
      height: rem(24);
      padding: 1px;
      background-position: center;
      background-origin: content-box;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover {
      opacity: 0.5;
    }

    &--twitter {
      &::before {
        padding: 0;
        background-image: url('./img/socials-twitter.svg');
      }
    }

    &--facebook {
      &::before {
        background-image: url('./img/socials-facebook.svg');
      }
    }

    &--instagram {
      &::before {
        background-image: url('./img/socials-instagram.svg');
      }
    }
  }
}
