//- Examples:
//- +socials

mixin socials
  ul.socials
    li._item
      a._link.-twitter(href='https://twitter.com', title='Наш Twitter', target='_blank', rel='noopener noreferrer')
        | Twitter
    li._item
      a._link.-facebook(href='https://www.facebook.com', title='Наш Facebook', target='_blank', rel='noopener noreferrer')
        | Facebook
    li._item
      a._link.-instagram(href='https://www.instagram.com', title='Наш Instagram', target='_blank', rel='noopener noreferrer')
        | Instagram
