//- Parameters:
//- string icon  - название иконки из Material Icons
//- string title - заголовок преимущества
//- string desc  - описание преимущества

//- Examples:
//- +advantage('insert_emoticon', 'Comfort', 'Soundproof walls')
//- +advantage('location_city', 'Convenience', 'A window in each bedroom')

mixin advantage(icon, title, desc)
  .advantage
    i.material-icons._icon
      | #{icon}
    ._info
      ._title
        | #{title}
      ._desc
        | #{desc}
