.advantage {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid $color-gray-10p;

  &:last-child {
    border-bottom: 0;
  }

  &__icon {
    flex-shrink: 0;
    margin-right: 10px;
    background-image: $gradient-primary;
    background-clip: text;
    color: transparent;
    font-size: 48px;
  }

  &__title {
    font-weight: bold;
  }
}
