.sitemap {
  &__container {
    @include container;
  }

  &__h1 {
    margin: 0 0 rem(40);

    @include heading('h1');
  }

  &__section {
    margin-top: rem(30);
  }

  &__h2 {
    margin: 0 0 rem(20);

    @include heading('h2');
  }
}
