include /blocks/list-bullet/list-bullet.pug

mixin main-sitemap
  main.main-sitemap
    ._container
      h1._h1
        | TOXIN Sitemap
      section._section
        h2._h2
          | UI-Kit
        +list-bullet({
          list: [
            ['Colors & Type', '/ui-colors-type.html'],
            ['Form Elements', '/ui-form-elements.html'],
            ['Cards', '/ui-cards.html'],
            ['Headers & Footers', '/ui-headers-footers.html'],
          ],
        })
      section._section
        h2._h2
          | Website Pages
        +list-bullet({
          list: [
            ['Landing Page', '/landing.html'],
            ['Search Room', '/search.html'],
            ['Room Details', '/room.html'],
            ['Sign Up', '/sign-up.html'],
            ['Sign In', '/sign-in.html'],
          ],
        })
