.sitemap {
  &__container {
    @include container;
  }

  &__title {
    margin-bottom: rem(40);
  }

  &__subtitle {
    margin-bottom: rem(20);
  }

  &__section {
    margin-bottom: rem(30);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
