.review {
  &__row {
    display: flex;
    margin-top: rem(10);

    &:first-child {
      margin-top: 0;
    }
  }

  &__cell {
    margin-left: rem(10);

    &:first-child {
      margin-left: 0;
    }

    &--small {
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      width: rem(48);
      height: rem(48);
    }

    &--margin {
      margin-top: 1px;
    }
  }

  &__img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    border: 2px solid $color-white;
    border-radius: 50%;
    box-shadow: $shadow-secondary;
  }

  &__author {
    font-weight: bold;
  }

  &__blockquote,
  &__p {
    margin: 0;
  }
}
