include /blocks/button/button.pug
include /blocks/button-option/button-option.pug
include /blocks/field/field.pug

mixin form-sign-up
  form.form-sign-up(method='post')
    header._header
      h2._h2
        | Регистрация аккаунта
    ._row
      +field({
        attrs: {
          placeholder: 'Имя',
          required: true,
        },
      })
    ._row
      +field({
        attrs: {
          placeholder: 'Фамилия',
          required: true,
        },
      })
    ._row.-flex
      ._radio
        +button-option({
          text: 'Мужчина',
          modifiers: ['radio'],
          attrs: {
            name: 'gender',
            checked: true,
          },
        })
      ._radio
        +button-option({
          text: 'Женщина',
          modifiers: ['radio'],
          attrs: {
            name: 'gender',
          },
        })
    ._row.-margin-20
      +field({
        labelPrimary: 'Дата рождения',
        attrs: {
          placeholder: 'ДД.ММ.ГГГГ',
          required: true,
          'data-mask': '00.00.0000',
        },
      })
    ._row.-margin-20
      +field({
        labelPrimary: 'Данные для входа в сервис',
        attrs: {
          type: 'email',
          placeholder: 'Email',
          required: true,
        },
      })
    ._row
      +field({
        attrs: {
          type: 'password',
          placeholder: 'Пароль',
          required: true,
        },
      })
    ._row
      +button-option({
        text: 'Получать спецпредложения',
      })
    ._button
      +button({
        text: 'Перейти к оплате',
        modifiers: ['fill', 'wide'],
        attrs: {
          type: 'submit',
        },
      })
    footer._footer
      | Уже есть аккаунт на Toxin?
      ._button.-flex
        +button({
          text: 'Войти',
          attrs: {
            href: '/change-me',
          },
        })
