//- Parameters:
//- string name - имя чекбокса
//- string text - текст чекбокса

//- Examples:
//- +input-checkbox('news', 'Subscribe to newsletter')(checked)
//- +input-checkbox('news', 'Subscribe to newsletter')

mixin input-checkbox(name, text)
  .input-checkbox
    label._label
      input._input(type='checkbox', name=name)&attributes(attributes)
      span._box
      span._text
        | #{text}
