- function getModifiers(classMain, modifiers) {
-   let mods = '';
-
-   if (modifiers.length !== 0) {
-     modifiers.forEach((mod) => {
-       mods = `${mods}${classMain}--${mod} `;
-     });
-   }
-
-   return mods.slice(0, -1);
- }
