.tooltip {
  position: relative;
  z-index: 5;
  width: rem(20);
  height: rem(20);
  border: 1px solid $color-gray-25p;
  border-radius: 50%;
  cursor: help;
  transition: border-color $time-primary;

  &::before {
    content: 'i';
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-gray-25p;
    font-weight: bold;
    font-size: rem(10);
    transform: translate(-50%, -50%);
    transition: color $time-primary;
  }

  &__text {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition:
      visibility 1ms $time-primary,
      opacity $time-primary,
      transform $time-primary;

    @include hidden-text;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      content: attr(title);
      bottom: rem(12);
      width: rem(160);
      padding: rem(8) rem(10);
      border-radius: $radius-primary;
      background-color: $color-gray-100p;
      color: $color-white;
      box-shadow: $shadow-tooltip;
      font-size: rem(12);
      text-align: center;
    }

    &::after {
      content: '';
      bottom: rem(3);
      border-width: rem(10) rem(12) 0;
      border-style: solid;
      border-color: $color-gray-100p transparent;
    }
  }

  &:hover {
    border-color: $color-gray-50p;

    &::before {
      color: $color-gray-50p;
    }
  }

  &:hover &__text {
    visibility: visible;
    transform: translateY(rem(-5));
    opacity: 1;
    transition:
      opacity $time-primary,
      transform $time-primary;
  }
}
