@import '~/scss/_functions';
@import '~/scss/_vars';
@import '~/scss/_mixins';

.tooltip {
  position: relative;
  width: rem(20);
  height: rem(20);
  border: 1px solid $color-gray-25p;
  border-radius: 50%;
  cursor: help;
  transition:
    border-color $time-primary,
    box-shadow $time-primary;

  &::before {
    content: 'i';
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-gray-25p;
    font-weight: bold;
    font-size: rem(10);
    transform: translate(-50%, -50%);
    transition: color $time-primary;
  }

  &:hover,
  &:focus {
    border-color: $color-primary-1;
    box-shadow: $shadow-focus-primary;
    outline: 0;

    &::before {
      color: $color-primary-1;
    }
  }

  &__text {
    position: absolute;
    bottom: rem(26);
    left: 50%;
    z-index: 30;
    width: rem(160);
    background-image: $gradient-primary;
    color: $color-white;
    text-align: center;
    visibility: hidden;
    transform: translate(-50%);
    opacity: 0;
    transition:
      visibility 1ms $time-primary,
      opacity $time-primary,
      transform $time-primary;

    @include tooltip;
  }

  &:hover &__text,
  &:focus &__text {
    visibility: inherit;
    transform: translate(-50%, rem(-5));
    opacity: 1;
    transition:
      opacity $time-primary,
      transform $time-primary;
  }
}
