//- Options:
//- 🞂 text: string - текст подсказки

mixin tooltip(options)
  -
    const defaults = {
      text: 'Lorem ipsum',
    };

  -
    const {
      text,
    } = Object.assign(defaults, options);

  .tooltip
    ._text(title=text)
      | Подсказка
