//- Options:
//- 🞂 text: string - текст подсказки

mixin tooltip(options)
  -
    const defaults = {
      text: 'undefined',
    };

  -
    const {
      text,
    } = Object.assign(defaults, options);

  .tooltip(tabindex='0')
    ._text
      | #{text}
