.chart {
  display: flex;
  flex-wrap: wrap;

  &__container {
    margin-right: rem(30);
  }

  &__diagram {
    position: relative;
    font-size: 0;
  }

  &__svg {
    width: rem(120);
    height: rem(120);
    border-radius: 50%;
    fill: none;
    transform: rotate(-90deg);
  }

  &__circle {
    stroke: var(--stroke);
    transition:
      opacity $time-primary,
      stroke-width $time-primary,
      stroke-dasharray var(--duration),
      stroke-dashoffset var(--duration);
    stroke-width: 1.25;
    stroke-dasharray: 0 100;

    &--semitransparent {
      opacity: 0.2;
    }

    &--wide {
      stroke-width: 5;
    }
  }

  &__svg--active &__circle {
    stroke-dasharray: var(--array);
    stroke-dashoffset: var(--offset);
  }

  &__title {
    position: absolute;
    top: 47.5%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-primary;
    font-weight: bold;
    font-size: rem(12);
    line-height: $line-height-secondary;
    text-transform: uppercase;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }

  &__sum {
    font-size: rem(24);
    font-family: $font-family-secondary;
  }

  &__tooltip {
    position: absolute;
    top: var(--top);
    left: var(--left);
    z-index: 30;
    border: 1px solid var(--borderColor);
    visibility: hidden;
    transform: translate(-5%, -125%);
    opacity: 0;
    transition:
      visibility 1ms #{$time-primary * 2},
      opacity $time-primary $time-primary;

    @include tooltip;

    &--active {
      visibility: visible;
      opacity: 1;
      transition: opacity $time-primary;
    }
  }

  &__name {
    font-weight: bold;
    font-size: rem(10);
  }

  &__details {
    display: flex;
    align-items: center;
    text-transform: capitalize;

    &::before {
      content: '';
      display: block;
      width: rem(7);
      height: rem(7);
      margin: 0 rem(6) 0 rem(2);
      border-radius: 50%;
      background-image: var(--gradient);
    }
  }

  &__value {
    margin-left: rem(3);
    font-weight: bold;
  }

  &__legend {
    display: flex;
    flex-direction: column-reverse;
    margin: rem(15) 0 0;
    padding: 0;
    list-style-type: none;
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    padding: rem(3) rem(3) rem(3) rem(15);
    border: 0;
    background-color: transparent;
    color: $color-gray-25p;
    font-size: rem(14);
    font-family: $font-family-primary;
    cursor: pointer;
    transition: color $time-primary;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: rem(10);
      height: rem(10);
      border-radius: 50%;
    }

    &::before {
      background-color: $color-gray-25p;
    }

    &::after {
      background-image: var(--gradient);
      opacity: 0;
      transition: opacity $time-primary;
    }

    &--active {
      color: $color-gray-75p;

      &:hover {
        color: $color-gray-100p;
      }

      &::after {
        opacity: 1;
      }
    }
  }
}
