//- Parameters:
//- string name  - имя радиокнопки
//- string value - значение радиокнопки
//- string text  - текст радиокнопки

//- Examples:
//- +field-radio('gender', 'm', 'Male')(checked)
//- +field-radio('gender', 'f', 'Female')
//- +field-radio('color', 'black', 'Black color')(required)
//- +field-radio('color', 'white', 'White color')

mixin field-radio(name, value, text)
  .field-radio
    label._label
      input._input(type='radio', name=name, value=value)&attributes(attributes)
      span._box
      span._text
        | #{text}
