//- Options:
//- 🞂 modifiers: string[] - модификаторы блока

include /blocks/form-field/form-field.pug
include /blocks/logo/logo.pug
include /blocks/socials/socials.pug

mixin footer(options)
  -
    const defaults = {
      modifiers: [],
    };

  -
    const {
      modifiers,
    } = Object.assign(defaults, options);

  footer.footer(class=getModifiers('footer', modifiers))
    ._container.-primary
      ._intro
        ._logo
          +logo
        ._text
          | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      section._section
        h3._h3
          | Навигация
        ul._list
          li._item
            a._link(href='/change-me')
              | О нас
          li._item
            a._link(href='/change-me')
              | Новости
          li._item
            a._link(href='/change-me')
              | Служба поддержки
          li._item
            a._link(href='/change-me')
              | Услуги
      section._section
        h3._h3
          | О нас
        ul._list
          li._item
            a._link(href='/change-me')
              | О сервисе
          li._item
            a._link(href='/change-me')
              | Наша команда
          li._item
            a._link(href='/change-me')
              | Вакансии
          li._item
            a._link(href='/change-me')
              | Инвесторы
      section._section
        h3._h3
          | Служба поддержки
        ul._list
          li._item
            a._link(href='/change-me')
              | Соглашения
          li._item
            a._link(href='/change-me')
              | Сообщества
          li._item
            a._link(href='/change-me')
              | Связь с нами
      section._section
        h3._h3
          | Подписка
        ._text
          | Получайте специальные предложения и новости сервиса
        ._form
          +form-field({
            attrsField: {
              type: 'email',
              placeholder: 'Email',
            },
          })
    ._container.-secondary
      ._logo.-adaptive
        +logo
      ._text.-center
        | Copyright&nbsp;©&nbsp;2018&nbsp;Toxin&nbsp;отель. Все&nbsp;права&nbsp;зачищены.
      ._socials
        +socials
