@import '~/scss/functions';
@import '~/scss/vars';
@import '~/scss/mixins';

.link {
  color: $color-gray-50p;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: color $time-primary;

  &:hover,
  &:focus {
    color: $color-gray-100p;
  }

  &--bold {
    color: $color-gray-75p;
    font-weight: bold;
  }

  &--moving {
    display: inline-block;
    line-height: normal;
    transition:
      color $time-primary,
      transform $time-primary;

    &:hover,
    &:focus {
      transform: translateX(rem(4));
    }
  }

  &--submenu {
    display: flex;
    align-items: center;
    overflow: hidden;

    &::after {
      content: 'expand_more';
      transition:
        color $time-primary,
        transform $time-primary;

      @include material-icons(rem(24), $color-gray-50p);

      @include screen-lg {
        content: '';
      }
    }

    &:hover,
    &:focus {
      &::after {
        color: $color-gray-100p;
      }
    }
  }
}
