extends /pug/templates/_base.pug

include /blocks/body/body.pug
include /blocks/main-sitemap/main-sitemap.pug

block vars
  - keywords = 'important, keywords';
  - description = 'short description';
  - title = 'Sitemap';

block body
  +body(['ui'])
    +main-sitemap
