extends /pug/templates/_base.pug

include /blocks/body/body.pug
include /blocks/main-sitemap/main-sitemap.pug

block vars
  - lang = 'en';
  - keywords = 'important, keywords';
  - description = 'short description';
  - title = 'Sitemap';

block body
  +body({
    mods: ['ui'],
  })
    +main-sitemap
