extends /pug/templates/_base.pug

include /blocks/body/body.pug
include /blocks/footer/footer.pug
include /blocks/header/header.pug
include /blocks/main-landing/main-landing.pug

block vars
  - lang = 'ru';
  - keywords = 'important, keywords';
  - description = 'short description';
  - title = 'Landing Page';

block body
  +body
    +header
    +main-landing
    +footer
