extends /pug/templates/_base.pug

block vars
  - var keywords = 'important, keywords';
  - var description = 'short description';
  - var title = 'Landing Page';

block body
  +body
    +header
    main
      h1 Landing Page
    +footer
