extends /pug/templates/_base.pug

include /blocks/body/body.pug
include /blocks/footer/footer.pug
include /blocks/header/header.pug
include /blocks/main-room/main-room.pug

block vars
  - keywords = 'important, keywords';
  - description = 'short description';
  - title = 'Room Details';

block body
  +body
    +header
    +main-room
    +footer(['bordered'])
