extends /pug/templates/_base.pug

block vars
  - var keywords = 'important, keywords';
  - var description = 'short description';
  - var title = 'Room Details';

block body
  +body
    +header
    main
      h1 Room Details
    +footer(['bordered'])
