extends /pug/templates/_base.pug

include /blocks/body/body.pug
include /blocks/footer/footer.pug
include /blocks/header/header.pug
include /blocks/main-search/main-search.pug

block vars
  - keywords = 'important, keywords';
  - description = 'short description';
  - title = 'Search Room';

block body
  +body
    +header
    +main-search
    +footer({
      modifiers: ['bordered'],
    })
