extends /pug/templates/_base.pug

block vars
  - var keywords = 'important, keywords';
  - var description = 'short description';
  - var title = 'Search Room';

block body
  +body
    +header
    main
      h1 Search Room
    +footer(['bordered'])
