extends /pug/templates/_base.pug

include /blocks/body/body.pug
include /blocks/footer/footer.pug
include /blocks/header/header.pug
include /blocks/main-sign/main-sign.pug

block vars
  - keywords = 'important, keywords';
  - description = 'short description';
  - title = 'Sign In';

block body
  +body
    +header
    +main-sign
    +footer
