extends /pug/templates/_base.pug

block vars
  - var keywords = 'important, keywords';
  - var description = 'short description';
  - var title = 'Sign Up';

block body
  +body
    +header
    +main-sign(true)
    +footer
