extends /pug/templates/base.pug

include /blocks/body/body.pug
include /blocks/main-ui-colors-type/main-ui-colors-type.pug

block vars
  - lang = 'en';
  - keywords = 'important, keywords';
  - description = 'short description';
  - title = 'UI Colors & Type';

block body
  +body({
    mods: ['theme-ui'],
  })
    +main-ui-colors-type
