extends /pug/templates/base.pug

include /blocks/body/body.pug
include /blocks/main-ui-cards/main-ui-cards.pug

block vars
  - lang = 'ru';
  - keywords = 'important, keywords';
  - description = 'short description';
  - title = 'UI Cards';

block body
  +body({
    mods: ['ui', 'gray'],
  })
    +main-ui-cards
