extends /pug/templates/_base.pug

block vars
  - var keywords = 'important, keywords';
  - var description = 'short description';
  - var title = 'UI Colors & Type';

block body
  +wrapper(['ui'])
    +main-ui-colors-type
