extends /pug/templates/_base.pug

include /blocks/body/body.pug
include /blocks/main-ui-cards/main-ui-cards.pug

block vars
  - var keywords = 'important, keywords';
  - var description = 'short description';
  - var title = 'UI Cards';

block body
  +body(['ui', 'gray'])
    +main-ui-cards
