extends /pug/templates/_base.pug

block vars
  - var keywords = 'important, keywords';
  - var description = 'short description';
  - var title = 'UI Form Elements';

block body
  +wrapper(['ui'])
    h1 UI Form Elements
