extends /pug/templates/_base.pug

block vars
  - var keywords = 'important, keywords';
  - var description = 'short description';
  - var title = 'UI Form Elements';

block body
  +body(['ui'])
    +main-ui-form-elements
