extends /pug/templates/_base.pug

include /blocks/body/body.pug
include /blocks/main-ui-form-elements/main-ui-form-elements.pug

block vars
  - lang = 'ru';
  - keywords = 'important, keywords';
  - description = 'short description';
  - title = 'UI Form Elements';

block body
  +body({
    modifiers: ['ui'],
  })
    +main-ui-form-elements
