extends /pug/templates/base.pug

include /blocks/body/body.pug
include /blocks/main-ui-headers-footers/main-ui-headers-footers.pug

block vars
  - lang = 'ru';
  - keywords = 'important, keywords';
  - description = 'short description';
  - title = 'UI Headers & Footers';

block body
  +body({
    mods: ['ui', 'gray'],
  })
    +main-ui-headers-footers
