extends /pug/templates/_base.pug

block vars
  - var keywords = 'important, keywords';
  - var description = 'short description';
  - var title = 'UI Headers & Footers';

block body
  +body(['ui', 'gray'])
    +main-ui-headers-footers
