//- Options:
//- 🞂 color: string - оттенок из палитры (в формате модификатора)
//- 🞂 name: string  - имя оттенка (в произвольной форме)
//- 🞂 hex: string   - HEX-код оттенка

mixin ui-color(options)
  -
    const defaults = {
      color: 'undefined',
      name: 'undefined',
      hex: 'undefined',
    };

  -
    const {
      color,
      name,
      hex,
    } = Object.assign(defaults, options);

  .ui-color
    ._color(class=`ui-color__color--background--${color}`)
    ._info
      ._name
        | #{name}
      ._hex
        | #{hex}
