@import '~/scss/functions';
@import '~/scss/vars';
@import '~/scss/mixins';

.ui-color {
  display: flex;
  align-items: center;

  &__color {
    flex-shrink: 0;
    width: rem(70);
    height: rem(70);
    border-radius: rem(6);
    background-color: $color-black;

    @include screen-sm {
      width: rem(60);
      height: rem(60);
    }

    &--background--gray-100p {
      background-color: $color-gray-100p;
    }

    &--background--gray-75p {
      background-color: $color-gray-75p;
    }

    &--background--gray-50p {
      background-color: $color-gray-50p;
    }

    &--background--gray-25p {
      background-color: $color-gray-25p;
    }

    &--background--gray-5p {
      background-color: $color-gray-5p;
    }

    &--background--primary-1 {
      background-color: $color-primary-1;
    }

    &--background--secondary-1 {
      background-color: $color-secondary-1;
    }
  }

  &__info {
    margin-left: rem(40);
    color: $color-gray-100p;
    font-size: rem(19);
    line-height: 1.5;
    white-space: nowrap;

    @include screen-lg {
      margin-left: rem(30);
    }
  }

  &__name {
    font-weight: bold;
  }

  &__hex {
    text-transform: uppercase;
  }
}
