//- Options:
//- 🞂 color: string - оттенок из палитры (в формате модификатора)
//- 🞂 name: string  - имя оттенка в произвольной форме
//- 🞂 hex: string   - HEX-код оттенка

mixin ui-color(options)
  -
    const defaults = {
      color: '',
      name: 'UI Color',
      hex: 'UI Color',
    };

  -
    const {
      color,
      name,
      hex,
    } = Object.assign(defaults, options);

  .ui-color
    ._box(class=`ui-color__box--${color}`)
    ._info
      ._name
        | #{name}
      ._hex
        | #{hex}
