.dropdown {
  position: relative;

  .field {
    &::before {
      transition: color $time-fast;
      will-change: color;
    }
  }

  .field__input {
    transition:
      border-color $time-fast,
      border-radius $time-fast $time-slow,
      box-shadow $time-fast;
    will-change:
      border-color,
      border-radius,
      box-shadow;
  }

  &--active,
  &--expanded {
    .field {
      &::before {
        color: $color-gray-75p;
      }
    }

    .field__input {
      border-color: $color-gray-50p;
      border-radius: $radius-primary $radius-primary 0 0;
      box-shadow: $shadow-primary;
      transition:
        border-color $time-fast,
        box-shadow $time-fast;
    }
  }

  &__content {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    max-height: 0;
    border: 1px solid $color-gray-25p;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0 0 $radius-primary $radius-primary;
    background-color: $color-white;
    transition:
      max-height $time-medium,
      border-color $time-fast,
      border-bottom-width $time-fastest $time-fast,
      box-shadow $time-fast;
    will-change:
      max-height,
      border-color,
      border-bottom-width,
      box-shadow;
  }

  &--active &__content,
  &--expanded &__content {
    max-height: var(--height);
    border-color: $color-gray-50p;
    border-bottom-width: 1px;
    box-shadow: $shadow-primary;
    transition:
      max-height $time-medium,
      border-color $time-fast,
      box-shadow $time-fast;
  }

  &--expanded &__content {
    position: relative;
    z-index: 5;
  }

  &:hover .field__input,
  &:hover &__content {
    border-color: $color-gray-50p;
  }

  &__list {
    margin: 0;
    padding: rem(6) rem(6) rem(6) rem(14);
    list-style-type: none;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(7);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title,
  &__number {
    color: $color-gray-100p;
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem(12);
    cursor: default;
  }

  &__controls {
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }

  &__spinner {
    flex-shrink: 0;
    padding: 0;
    width: rem(30);
    height: rem(30);
    border: 1px solid $color-gray-25p;
    border-radius: 50%;
    background-color: transparent;
    color: $color-gray-50p;
    font-weight: normal;
    font-size: rem(18);
    font-family: $font-family-primary;

    &:hover {
      border-color: $color-gray-50p;
    }

    &[disabled] {
      opacity: 0.38;

      &:hover {
        border-color: $color-gray-25p;
      }
    }
  }

  &__number {
    flex-shrink: 0;
    padding: 0 0 1px 0;
    width: rem(32);
    border: 0;
    background-color: transparent;
    text-align: center;
    font-family: $font-family-primary;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: rem(15) rem(6) rem(12) rem(14);
  }

  &__button {
    &--reset {
      transition: transform $time-fast;
      will-change: transform;
    }

    &--hidden {
      transform: translateX(rem(-90));
    }
  }
}
