//- Options:
//- 🞂 mods: string[] - модификаторы блока

mixin logo(options)
  -
    const defaults = {
      mods: [],
    };

  -
    const {
      mods,
    } = Object.assign(defaults, options);

  a.logo(class=getModifiers('logo', mods), href='/')
    | На главную
