@import '~/scss/functions';
@import '~/scss/mixins';

.logo {
  display: block;
  width: rem(106);
  height: rem(40);
  background-image: url('./img/logo-text.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

  @include hidden-text;

  &--adaptive {
    @include screen-xs {
      width: rem(40);
      background-image: url('./img/logo.svg');
    }
  }
}
