//- Parameters:
//- string[] modifiers=[] - модификаторы блока

//- Examples:
//- +logo
//- +logo(['adaptive'])

mixin logo(modifiers=[])
  a.logo(class=getModifiers('logo', modifiers), href='/')
    | На главную
