//- Options:
//- 🞂 modifiers: string[] - модификаторы блока

mixin logo(options)
  -
    const defaults = {
      modifiers: [],
    };

  -
    const {
      modifiers,
    } = Object.assign(defaults, options);

  a.logo(class=getModifiers('logo', modifiers), href='/')
    | На главную
