//- Examples:
//- +form-find

include /blocks/button/button.pug
include /blocks/calendar/calendar.pug
include /blocks/dropdown/dropdown.pug

mixin form-find
  form.form-find(method='post')
    header._header
      h2._h2
        | Найдём номера под ваши пожелания
    ._row
      +calendar('fields', '', 'Прибытие', 'Выезд', {
        'required': true,
      }, {
        'required': true,
      })
    ._row
      +dropdown('Гости', '', {
        'placeholder': 'Сколько гостей',
        'required': true,
      }, ['гость', 'гостя', 'гостей'], [
        [0, 0, 3, '', 'взрослые', '', ''],
        [0, 0, 2, '', 'дети', '', ''],
        [0, 0, 1, 'младенец', 'младенцы', 'младенца', 'младенцев'],
      ])
    ._button
      +button({
        text: 'Подобрать номер',
        modifiers: ['fill', 'wide'],
        attrs: {
          type: 'submit',
        },
      })
