//- Examples:
//- +form-find

include /blocks/button/button.pug
include /blocks/calendar/calendar.pug
include /blocks/dropdown/dropdown.pug

mixin form-find
  form.form-find(method='post')
    header._header
      h2._h2
        | Найдём номера под ваши пожелания
    ._row
      +calendar({
        type: 'fields',
        labelFirst: 'Прибытие',
        labelSecond: 'Выезд',
        attrsFieldFirst: {
          required: true,
        },
        attrsFieldSecond: {
          required: true,
        },
      })
    ._row
      +dropdown({
        list: [
          {
            name: 'взрослые',
            values: [0, 0, 3],
            words: [],
          },
          {
            name: 'дети',
            values: [0, 0, 3],
            words: [],
          },
          {
            name: 'младенцы',
            values: [0, 0, 1],
            words: ['младенец', 'младенца', 'младенцев'],
          },
        ],
        words: ['гость', 'гостя', 'гостей'],
        labelPrimary: 'Гости',
        attrsField: {
          placeholder: 'Сколько гостей',
          required: true,
        },
      })
    ._button
      +button({
        text: 'Подобрать номер',
        modifiers: ['fill', 'wide'],
        attrs: {
          type: 'submit',
        },
      })
