@import '~/scss/functions';
@import '~/scss/mixins';

.form-find {
  @include form;

  &__header {
    margin-bottom: rem(20);
  }

  &__h2 {
    margin: 0;

    @include heading('h1');
  }

  &__row {
    margin-top: rem(20);
  }

  &__button {
    margin-top: rem(30);
  }
}
