//- Examples:
//- +form-find

mixin form-find
  form.form-find(method='post')
    header._header
      h2._h2
        | Найдём номера под ваши пожелания
    ._row
      +calendar('fields', '', 'Прибытие', 'Выезд', {
        'required': true,
      }, {
        'required': true,
      })
    ._row
      +dropdown('Гости', '', {
        'placeholder': 'Сколько гостей',
        'required': true,
      }, ['гость', 'гостя', 'гостей'], [
        [0, 0, 3, 'взрослый', 'взрослые', 'взрослых', 'взрослых'],
        [0, 0, 2, 'ребёнок', 'дети', 'ребёнка', 'детей'],
        [0, 0, 1, 'младенец', 'младенцы', 'младенца', 'младенцев'],
      ])
    ._button
      +button('Подобрать номер', ['fill', 'wide'], {
        'type': 'submit',
      })
