@import '~/scss/_functions';
@import '~/scss/_vars';

.slider-range {
  padding-bottom: rem(3);

  &__slider {
    margin-top: rem(18);
  }

  &__text {
    margin-top: rem(15);
    color: $color-gray-50p;
    font-size: rem(12);
    line-height: 1.2;
  }
}

.ui-slider {
  border: 1px solid $color-gray-25p;
  border-radius: rem(3);

  .ui-slider-handle {
    width: rem(16);
    height: rem(16);
    border: 2px solid $color-white;
    border-radius: 50%;
    background-image: $gradient-secondary;
    cursor: pointer;
    transition: box-shadow $time-primary;

    &:hover,
    &:focus {
      box-shadow: $shadow-focus-secondary;
      outline: 0;
    }
  }

  .ui-slider-range {
    background-image: $gradient-secondary;
  }
}

.ui-slider-horizontal {
  height: rem(6);

  .ui-slider-handle {
    top: rem(-6);
  }

  .ui-slider-range {
    top: -1px;
    height: calc(100% + 2px);
  }
}

.ui-slider-vertical {
  width: rem(6);

  .ui-slider-handle {
    left: rem(-6);
  }

  .ui-slider-range {
    left: -1px;
    width: calc(100% + 2px);
  }
}
