//- Options:
//- 🞂 list: [[            - список преимуществ
//-   🞂 [0]: string       - иконка преимущества (имя иконки из Material Design Icons Font)
//-   🞂 [1]: string       - заголовок преимущества
//-   🞂 [2]: string       - описание преимущества
//-   ]]
//- 🞂 modifiers: string[] - модификаторы блока

mixin advantages(options)
  -
    const defaults = {
      list: [
        ['insert_emoticon', 'Advantage 1', 'Lorem ipsum'],
        ['location_city', 'Advantage 2', 'Lorem ipsum'],
        ['whatshot', 'Advantage 3', 'Lorem ipsum'],
      ],
      modifiers: [],
    };

  -
    const {
      list,
      modifiers,
    } = Object.assign(defaults, options);

  .advantages(class=getModifiers('advantages', modifiers))
    ul._list
      each item in list
        li._item
          i._icon.material-icons
            | #{item[0]}
          ._info
            ._title
              | #{item[1]}
            ._desc
              | #{item[2]}
