//- Parameters:
//- string[[]] list         - список преимуществ, где каждый пункт (массив) содержит:
//-                           - имя иконки из Material Design Icons Font
//-                           - заголовок преимущества
//-                           - описание преимущества
//- string[]   modifiers=[] - модификаторы блока

//- Examples:
//- +advantages([
//-   ['insert_emoticon', 'Comfort', 'Soundproof walls'],
//-   ['location_city', 'Convenience', 'Windows in each bedroom'],
//- ], ['ui'])

mixin advantages(list, modifiers=[])
  .advantages(class=getModifiers('advantages', modifiers))
    ul._list
      each item in list
        li._item
          i._icon.material-icons
            | #{item[0]}
          ._info
            ._title
              | #{item[1]}
            ._desc
              | #{item[2]}
