//- Options:
//- 🞂 list: [{            - список преимуществ
//-   🞂 icon: string      - имя иконки из Material Design Icons Font
//-   🞂 title: string     - заголовок преимущества
//-   🞂 desc: string      - описание преимущества
//-   }]
//- 🞂 modifiers: string[] - модификаторы блока

mixin advantages(options)
  -
    const defaults = {
      list: [
        {
          icon: 'insert_emoticon',
          title: 'Комфорт',
          desc: 'Шумопоглощающие стены',
        },
        {
          icon: 'location_city',
          title: 'Удобство',
          desc: 'Окно в каждой из спален',
        },
        {
          icon: 'whatshot',
          title: 'Уют',
          desc: 'Номер оснащён камином',
        },
      ],
      modifiers: [],
    };

  - const { list, modifiers } = Object.assign(defaults, options);

  .advantages(class=getModifiers('advantages', modifiers))
    ul._list
      each item in list
        li._item
          i._icon.material-icons
            | #{item.icon}
          ._info
            ._title
              | #{item.title}
            ._desc
              | #{item.desc}
