//- Options:
//- 🞂 list: [             - список преимуществ
//-   🞂 [0]: string       - иконка преимущества (имя иконки из Material Design Icons Font)
//-   🞂 [1]: string       - заголовок преимущества
//-   🞂 [2]: string       - описание преимущества
//-   ]
//- 🞂 modifiers: string[] - модификаторы блока

mixin advantages(options)
  -
    const defaults = {
      list: [
        ['insert_emoticon', 'Комфорт', 'Шумопоглощающие стены'],
        ['location_city', 'Удобство', 'Окно в каждой из спален'],
        ['whatshot', 'Уют', 'Номер оснащён камином'],
      ],
      modifiers: [],
    };

  - const { list, modifiers } = Object.assign(defaults, options);

  .advantages(class=getModifiers('advantages', modifiers))
    ul._list
      each item in list
        li._item
          i._icon.material-icons
            | #{item[0]}
          ._info
            ._title
              | #{item[1]}
            ._desc
              | #{item[2]}
