//- Examples:
//- +main-landing

mixin main-landing
  main.main-landing
    ._slideshow
      ._slide
      ._slide
      ._slide
      ._slide
    ._container
      ._form
        +form-find
      ._text
        | Лучшие номера для вашей работы, отдыха и просто вдохновения!
