include /blocks/form-find/form-find.pug

mixin main-landing
  main.main-landing.js-main-landing
    ._slideshow.js-main-landing__slideshow(style='--translateY: 0;')
      - let i = 0;
      while i < 4
        ._slide.-disabled.js-main-landing__slide
        - i++;
    ._container
      h1._h1.visually-hidden
        | TOXIN
      ._form
        +form-find
      ._text
        | Лучшие номера для вашей работы, отдыха и просто вдохновения!
