@import '~/scss/functions';
@import '~/scss/vars';
@import '~/scss/mixins';

$mainlanding-color-text: rgba($color-white, 0.9);
$mainlanding-color-shadow: rgba($color-black, 0.5);

.main-landing {
  position: relative;

  &__slideshow,
  &__slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__slideshow {
    top: -$height-header;
    z-index: -1;
    overflow: hidden;
    transform: translateY(var(--translateY));
  }

  &__slide {
    $backgrounds:
      'bg-1.jpg',
      'bg-2.jpg',
      'bg-3.jpg',
      'bg-4.jpg';
    $texts:
      'Лучшие номера...',
      '...для вашей работы...',
      '...вашего отдыха...',
      '...и просто вдохновения!';
    $time-each: 6s;
    $time-full: length($backgrounds) * $time-each;

    @each $background in $backgrounds {
      $i: index($backgrounds, $background);
      $delay: #{$i * $time-each - $time-each};

      &:nth-child(#{$i}) {
        background-image: url('~/assets/content/backgrounds/#{$background}');
        animation-delay: $delay;

        &::before {
          content: nth($texts, $i);
          animation-delay: $delay;
        }
      }
    }

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoom-image $time-full linear infinite;
    opacity: 0;

    &::before {
      position: absolute;
      right: rem(30);
      bottom: 25%;
      left: rem(30);
      color: $mainlanding-color-text;
      font-weight: bold;
      font-size: 3.15vw;
      text-align: center;
      text-shadow: 0.325vw 0.325vw 0.4vw $mainlanding-color-shadow;
      animation: zoom-text $time-full linear infinite;

      @include screen-xxl {
        font-size: rem(46);
        text-shadow: rem(4) rem(4) rem(5) $mainlanding-color-shadow;
      }

      @include screen-lg {
        font-size: rem(38);
      }

      @include screen-md {
        font-size: rem(30);
      }

      @include screen-sm {
        display: none;
      }
    }

    &--disabled {
      animation: none;

      &::before {
        animation: none;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: rem(830);
    padding-top: rem(70);
    padding-bottom: rem(70);

    @include container;

    @include screen-sm {
      max-width: rem(420);
      min-height: calc(100vh - #{$height-header * 2});
    }
  }

  &__form {
    max-width: rem(380);
  }

  &__text {
    display: none;
    margin-top: rem(50);
    color: $mainlanding-color-text;
    font-weight: bold;
    font-size: rem(19);
    text-align: center;
    text-shadow: rem(2) rem(2) rem(3) $mainlanding-color-shadow;

    @include screen-sm {
      display: block;
    }
  }
}

@keyframes zoom-image {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  30% {
    transform: scale(1.15);
    opacity: 0;
  }

  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}

@keyframes zoom-text {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.125);
  }

  100% {
    transform: scale(1.125);
  }
}
