//- Parameters:
//- string tag  - имя тега
//- string text - пример текста, к которому будут применены стили указанного тега

//- Examples:
//- +ui-type('H1', 'Main heading text')
//- +ui-type('Body', 'Body text')

mixin ui-type(tag, text)
  .ui-type
    ._tag(class=`ui-type__tag--${tag.toLowerCase()}`)
      | #{tag}
    ._text(class=`ui-type__text--${tag.toLowerCase()}`)
      | #{text}
