//- Options:
//- 🞂 tag: string  - имя тега
//- 🞂 text: string - текст, к которому будут применены стили указанного тега

mixin ui-type(options)
  -
    const defaults = {
      tag: 'undefined',
      text: 'undefined',
    };

  -
    const {
      tag,
      text,
    } = Object.assign(defaults, options);

  .ui-type
    ._tag(class=`ui-type__tag--${tag.toLowerCase()}`)
      | #{tag}
    ._text(class=`ui-type__text--${tag.toLowerCase()}`)
      | #{text}
