@import '~/scss/functions';
@import '~/scss/vars';
@import '~/scss/mixins';

.ui-type {
  display: flex;

  &__tag {
    flex-shrink: 0;
    min-width: rem(70);
    color: $color-gray-25p;
    text-align: right;
    text-transform: capitalize;

    @include screen-sm {
      min-width: rem(60);
    }

    &--theme--h1 {
      font-size: rem(24);
      line-height: $line-height-secondary;
    }

    &--theme--h2 {
      font-size: rem(19);
      line-height: $line-height-secondary;
    }

    &--theme--h3 {
      font-size: rem(12);
      line-height: $line-height-secondary;
    }
  }

  &__text {
    margin-left: rem(30);

    &--theme--h1 {
      @include heading('h1');
    }

    &--theme--h2 {
      @include heading('h2');
    }

    &--theme--h3 {
      @include heading('h3');
    }
  }
}
