//- Options:
//- 🞂 primary: string   - лейбл (первичный)
//- 🞂 secondary: string - лейбл (вторичный)

mixin label(options)
  -
    const defaults = {
      primary: '',
      secondary: '',
    };

  -
    const {
      primary,
      secondary,
    } = Object.assign(defaults, options);

  if primary
    label.label
      if secondary
        span._container
          span._primary
            | #{primary + ' '}
          span._secondary
            | #{secondary}
      else
        span._primary
          | #{primary}
      block
  else
    block
