.label {
  display: block;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__primary,
  &__secondary {
    display: block;
    margin-bottom: rem(5);
  }

  &__primary {
    @include heading('h3');
  }

  &__secondary {
    color: $color-gray-50p;
    font-size: rem(12);
    line-height: $line-height-secondary;
    text-transform: uppercase;
  }
}
