.main-room {
  &__gallery {
    display: grid;
    min-height: rem(485);
    height: 50vh;
    background-color: $color-gray-5p;
    grid-template-rows:
      1fr
      1fr;
    grid-template-columns:
      1fr
      1fr
      1fr;

    @include screen-xxl {
      min-height: auto;
      height: 50vw;
    }
  }

  &__link {
    position: relative;
    overflow: hidden;

    &--main {
      grid-row: span 2;
      grid-column: span 2;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: filter $time-fast;
    object-fit: cover;

    &:hover {
      filter: contrast(115%) brightness(105%);
    }
  }

  &__container {
    display: flex;
    padding-top: rem(70);
    padding-bottom: rem(70);

    @include container;

    @include screen-xxl {
      padding-top: rem(50);
      padding-bottom: rem(50);
    }

    @include screen-lg {
      flex-direction: column;
      align-items: center;
    }
  }

  &__section {
    display: grid;
    grid-template-columns:
      1fr
      1fr;
    grid-gap: rem(30) rem(70);

    @include screen-xxl {
      grid-gap: rem(30) rem(40);
    }

    @include screen-xl {
      grid-template-columns: 1fr;
    }

    @include screen-lg {
      grid-template-columns:
        1fr
        1fr;
    }

    @include screen-sm {
      grid-template-columns: 1fr;
    }
  }

  &__article {
    &--reviews {
      grid-column: span 2;

      @include screen-xl {
        grid-column: auto;
      }

      @include screen-lg {
        grid-column: span 2;
      }

      @include screen-sm {
        grid-column: auto;
      }
    }
  }

  &__h2 {
    margin: 0 0 rem(20);

    @include heading('h2');
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item:not(:first-child) {
    margin-top: rem(20);
  }

  &__text {
    margin: 0;
  }

  &__aside {
    flex-shrink: 0;
    margin: 0 0 0 rem(70);
    max-width: rem(380);

    @include screen-xxl {
      margin: 0 0 0 rem(40);
    }

    @include screen-lg {
      margin: rem(50) 0 0;
    }
  }

  &__form {
    position: sticky;
    top: rem(30);
  }
}
