.room {
  overflow: hidden;
  border-radius: $radius-primary;
  background-color: $color-white;
  box-shadow: $shadow-primary;
  transition:
    box-shadow $time-primary,
    transform $time-primary;

  &:hover,
  &:focus {
    box-shadow: $shadow-secondary;
    outline: 0;
    transform: translateY(-3px);

    @include screen-xl {
      transform: none;
    }
  }

  &__slider {
    background-color: $color-gray-10p;
  }

  &__img {
    object-fit: cover;
    height: rem(150);
  }

  &__info {
    position: relative;
    padding: rem(20);
    color: $color-gray-50p;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(11);
    padding-top: rem(8);
    border-top: 1px solid $color-gray-10p;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }

    &--baseline {
      align-items: baseline;
    }
  }

  &__cell:not(:first-child) {
    margin-left: rem(20);
  }

  &__reviews {
    font-weight: bold;
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;

    @include hidden-text;

    &:focus {
      outline: 0;
    }
  }
}

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: rem(42);
  padding: 0;
  border: 0;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgba($color-black, 0.5), transparent);
  cursor: pointer;
  opacity: 0;
  transition: opacity $time-primary;

  @include hidden-text;

  &::before {
    content: 'expand_more';
    transform: rotate(90deg);

    @include material-icons(rem(24), $color-white);
  }

  &:focus {
    outline: 0;
  }
}

.room:hover .slick-arrow,
.room:focus .slick-arrow {
  opacity: 1;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
  transform: scale(-1);
}

.slick-dots {
  position: absolute;
  right: rem(15);
  bottom: rem(15);
  z-index: 2;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin-left: rem(3.75);

    &:first-child {
      margin-left: 0;
    }

    button {
      width: rem(7.5);
      height: rem(7.5);
      padding: 0;
      border: 1px solid $color-white;
      border-radius: 50%;
      background-color: transparent;
      box-shadow: 0 rem(5) rem(5) rgba($color-gray-100p, 0.3);
      cursor: pointer;
      transition:
        border-width $time-primary,
        background-color 1ms;

      @include hidden-text;

      &:focus {
        outline: 0;
      }
    }

    &.slick-active button {
      border-width: rem(3.75);
      background-color: $color-white;
      transition:
        border-width $time-primary,
        background-color 1ms $time-primary;
    }
  }
}
