//- Options:
//- 🞂 images: [[      - список изображений комнаты
//-   🞂 [0]: string   - имя файла с изображением комнаты
//-   🞂 [1]: string   - значение атрибута «alt» у тега <img> с изображением комнаты
//-   ]]
//- 🞂 number: number  - номер комнаты
//- 🞂 tag: string     - тег комнаты (Люкс, Эконом и т.д.)
//- 🞂 price: string   - цена комнаты за сутки
//- 🞂 rating: number  - значение рейтинга у комнаты (от 0 до 5)
//- 🞂 reviews: number - количество отзывов у комнаты

include /blocks/rating/rating.pug
include /blocks/room-info/room-info.pug
include /blocks/room-price/room-price.pug

mixin room(options)
  -
    const defaults = {
      images: [],
      number: 0,
      tag: '',
      price: '0$',
      rating: 0,
      reviews: 0,
    };

  -
    const {
      images,
      number,
      tag,
      price,
      rating,
      reviews,
    } = Object.assign(defaults, options);

  .room
    ._slider
      each image in images
        img._img(src=require(`~/content/rooms/${image[0]}`).default, alt=image[1])
    ._info
      ._row.-baseline
        ._cell
          +room-info(number, tag, ['small'])
        ._cell
          +room-price(price)
      ._row
        ._cell
          +rating({
            value: rating,
          })
        ._cell
          span._reviews
            | #{reviews}
          | &nbsp;Отзывов
      a._link(href='/', target='_blank')
        | Детали
