//- Options:
//- 🞂 text: string        - текст кнопки
//- 🞂 textRich: string    - дополнительный текст кнопки
//-                         (если указан модификатор 'checkbox-rich')
//- 🞂 modifiers: string[] - модификаторы блока
//- 🞂 attrs: object       - атрибуты кнопки

mixin button-option(options)
  -
    const defaults = {
      text: 'Button Option',
      textRich: 'Lorem ipsum',
      modifiers: [],
      attrs: {},
    };

  -
    const {
      text,
      textRich,
      modifiers,
      attrs,
    } = Object.assign(defaults, options);

  .button-option(class=getModifiers('button-option', modifiers))
    label._label
      input._input(type=modifiers.includes('radio') ? 'radio' : 'checkbox')&attributes(attrs)
      span._box
      span._text
        | #{text}
    if modifiers.includes('checkbox-rich')
      p._text-rich
        | #{textRich}
