.button-option {
  &__label {
    display: flex;
    width: fit-content;
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__box {
    position: relative;
    flex-shrink: 0;
    width: rem(40);
    height: rem(20);
    border: 1px solid $color-gray-25p;
    border-radius: 25% / 50%;
    transition: border-color $time-primary;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: rem(3);
      width: rem(12);
      height: rem(12);
      border-radius: 50%;
      background-color: $color-gray-25p;
      transform: translateY(-50%);
      transition:
        left $time-primary,
        opacity $time-primary;
    }

    &::after {
      background-image: $gradient-primary;
      opacity: 0;
    }
  }

  &__input:checked + &__box {
    border-color: $color-primary-1;

    &::before,
    &::after {
      left: rem(22);
    }

    &::after {
      opacity: 1;
    }
  }

  &__text {
    margin-left: rem(10);
    line-height: 1.45;
  }

  &__text-rich {
    margin-top: rem(5);
    padding-left: rem(30);
    color: $color-gray-50p;
    font-size: rem(12);
    line-height: $line-height-secondary;
  }

  &--checkbox &__box,
  &--checkbox-rich &__box {
    width: rem(20);
    border-radius: 20%;

    &::before {
      top: 43.5%;
      left: 50%;
      width: 35.175%;
      height: 45.675%;
      border-radius: 0;
      background-image: $gradient-primary;
      transform:
        translate(-50%, -50%)
        rotate(45deg);
      opacity: 0;
      transition: opacity $time-primary;
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 66.66% 0, 66.66% 75%, 0 75%);
    }

    &::after {
      content: none;
    }
  }

  &--checkbox &__input:checked + &__box,
  &--checkbox-rich &__input:checked + &__box {
    &::before {
      left: 50%;
      animation: checkbox $time-primary;
      opacity: 1;
      transition: none;
    }
  }

  &--checkbox &__text {
    color: $color-gray-50p;
  }

  &--checkbox-rich &__text {
    font-weight: bold;
  }

  &--radio &__box {
    width: rem(20);
    border-radius: 50%;

    &::before {
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-image: $gradient-primary;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition:
        width $time-primary,
        height $time-primary,
        opacity $time-primary;
    }

    &::after {
      content: none;
    }
  }

  &--radio &__input:checked + &__box {
    &::before {
      left: 50%;
      width: rem(12);
      height: rem(12);
      opacity: 1;
    }
  }

  &--radio &__text {
    color: $color-gray-50p;
    transition: color $time-primary;
  }

  &--radio &__input:checked ~ &__text {
    color: $color-gray-75p;
  }
}

@keyframes checkbox {
  0% {
    clip-path: polygon(0 100%, 0 100%, 0 75%, 66.66% 75%, 66.66% 75%, 0 75%);
  }

  40% {
    clip-path: polygon(0 100%, 100% 100%, 100% 75%, 66.66% 75%, 66.66% 75%, 0 75%);
  }

  100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 66.66% 0, 66.66% 75%, 0 75%);
  }
}
