.button-option {
  padding: 8px 0;

  &__label {
    display: inline-flex;
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__box {
    position: relative;
    top: -1px;
    flex-shrink: 0;
    margin-right: 10px;
    width: 40px;
    height: 20px;
    border: 1px solid $color-gray-25p;
    border-radius: 25% / 50%;
    transition: border-color $transition-fast;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-image: $gradient-gray-25p;
      content: '';
      transition:
        left $transition-fast,
        opacity $transition-fast;
      transform: translateY(-50%);
    }

    &::after {
      background-image: $gradient-primary;
      opacity: 0;
    }
  }

  &__input:checked + &__box {
    border-color: $color-primary-1;

    &::before,
    &::after {
      left: 23px;
    }

    &::after {
      opacity: 1;
    }
  }

  &__text {
    color: $color-gray-75p;
    line-height: 1.285;
    transition: color $transition-fast;
  }

  &--checkbox &__box {
    width: 20px;
    border-radius: 20%;
    background-image: $gradient-white;
    background-position-x: 0;
    background-repeat: no-repeat;
    transition:
      background-position-x 0.01s $transition-fast,
      border-color $transition-fast;

    &::before {
      top: 42.5%;
      left: 50%;
      z-index: -5;
      width: 33.5%;
      height: 43.5%;
      border-radius: 0;
      background-image: $gradient-primary;
      opacity: 0;
      transform:
        translate(-50%, -50%)
        rotate(45deg);
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 66.66% 0, 66.66% 75%, 0 75%);
    }

    &::after {
      content: none;
    }
  }

  &--checkbox &__input:checked + &__box {
    background-position-x: 15px;
    transition:
      background-position-x $transition-medium,
      border-color $transition-fast;

    &::before {
      left: 50%;
      opacity: 1;
    }
  }

  &--checkbox &__text {
    color: $color-gray-50p;
  }

  &--radio &__box {
    width: 20px;
    border-radius: 50%;

    &::before {
      left: 50%;
      width: 0;
      height: 0;
      background-image: $gradient-primary;
      opacity: 0;
      transition:
        width $transition-fast,
        height $transition-fast,
        opacity $transition-fast;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: none;
    }
  }

  &--radio &__input:checked + &__box {
    &::before {
      left: 50%;
      width: 12px;
      height: 12px;
      opacity: 1;
      transition:
        width $transition-fast,
        height $transition-fast,
        opacity $transition-fast;
    }
  }

  &--radio &__text {
    color: $color-gray-50p;
  }

  &--radio &__input:checked ~ &__text {
    color: $color-gray-75p;
  }
}
