//- Options:
//- 🞂 text: string     - текст кнопки
//- 🞂 textRich: string - дополнительный текст кнопки (если указан модификатор 'checkbox-rich')
//- 🞂 mods: string[]   - модификаторы блока
//- 🞂 attrs: object    - атрибуты кнопки

mixin button-option(options)
  -
    const defaults = {
      text: 'undefined',
      textRich: 'undefined',
      mods: [],
      attrs: {},
    };

  -
    const {
      text,
      textRich,
      mods,
      attrs,
    } = Object.assign(defaults, options);

  .button-option(class=getModifiers('button-option', mods))
    label._label
      input._input(type=mods.includes('radio') ? 'radio' : 'checkbox')&attributes(attrs)
      span._box
      span._text
        | #{text}
    if mods.includes('checkbox-rich')
      ._text-rich
        | #{textRich}
