//- Parameters:
//- string   text         - текст кнопки
//- string[] modifiers=[] - модификаторы блока
//- object   attrs={}     - атрибуты кнопки

//- Examples:
//- +button-option('Subscribe to newsletter')
//- +button-option('Subscribe to newsletter', [], {
//-   'checked': true,
//- })
//- +button-option('Subscribe to newsletter', ['checkbox'])
//- +button-option('Subscribe to newsletter', ['checkbox'], {
//-   'checked': true,
//- })
//- +button-option('Male', ['radio'], {
//-   'name': 'gender',
//- })
//- +button-option('Female', ['radio'], {
//-   'name': 'gender',
//-   'checked': true,
//- })

mixin button-option(text, modifiers=[], attrs={})
  .button-option(class=getModifiers('button-option', modifiers))
    label._label
      input._input(type=modifiers.includes('radio') ? 'radio' : 'checkbox')&attributes(attrs)
      span._box
      span._text
        | #{text}
