//- Parameters:
//- string name - имя переключателя
//- string text - текст переключателя

//- Examples:
//- +input-toggle('news', 'Subscribe to newsletter')(checked)
//- +input-toggle('news', 'Subscribe to newsletter')

mixin input-toggle(name, text)
  .input-toggle
    label._label
      input._input(type='checkbox', name=name)&attributes(attributes)
      span._box
      span._text
        | #{text}
