//- Parameters:
//- string[] items - элементы списка

//- Examples:
//- +list(['Milk', 'Cheese'])
//- +list(['Car', 'Bike', 'Scooty'])

mixin list(items)
  ul.list
    each item in items
      li._item
        | #{item}
