.list {
  margin: 0;
  padding-left: 20px;
  list-style-type: none;

  &__item {
    position: relative;
    margin-bottom: 11px;

    &::before {
      position: absolute;
      top: 6px;
      left: -20px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color-gray-25p;
      content: '';
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
