// https://google-webfonts-helper.herokuapp.com/fonts/montserrat
@font-face {
  $name: 'montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular';

  font-weight: normal;
  font-style: normal;
  font-family: 'Montserrat';
  src:
    local('Montserrat'),
    url('../fonts/montserrat/#{$name}.woff2') format('woff2'),
    url('../fonts/montserrat/#{$name}.woff') format('woff'),
    url('../fonts/montserrat/#{$name}.ttf') format('truetype'),
    url('../fonts/montserrat/#{$name}.svg#Montserrat') format('svg');
}

@font-face {
  $name: 'montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700';

  font-weight: bold;
  font-style: normal;
  font-family: 'Montserrat';
  src:
    local('Montserrat'),
    url('../fonts/montserrat/#{$name}.woff2') format('woff2'),
    url('../fonts/montserrat/#{$name}.woff') format('woff'),
    url('../fonts/montserrat/#{$name}.ttf') format('truetype'),
    url('../fonts/montserrat/#{$name}.svg#Montserrat') format('svg');
}

// https://google-webfonts-helper.herokuapp.com/fonts/quicksand
@font-face {
  $name: 'quicksand-v20-latin-ext_latin-regular';

  font-weight: normal;
  font-style: normal;
  font-family: 'Quicksand';
  src:
    local('Quicksand'),
    url('../fonts/quicksand/#{$name}.woff2') format('woff2'),
    url('../fonts/quicksand/#{$name}.woff') format('woff'),
    url('../fonts/quicksand/#{$name}.ttf') format('truetype'),
    url('../fonts/quicksand/#{$name}.svg#Quicksand') format('svg');
}

@font-face {
  $name: 'quicksand-v20-latin-ext_latin-700';

  font-weight: bold;
  font-style: normal;
  font-family: 'Quicksand';
  src:
    local('Quicksand'),
    url('../fonts/quicksand/#{$name}.woff2') format('woff2'),
    url('../fonts/quicksand/#{$name}.woff') format('woff'),
    url('../fonts/quicksand/#{$name}.ttf') format('truetype'),
    url('../fonts/quicksand/#{$name}.svg#Quicksand') format('svg');
}

// https://google-webfonts-helper.herokuapp.com/fonts/open-sans
@font-face {
  $name: 'open-sans-v17-cyrillic-ext_cyrillic-regular';

  font-weight: normal;
  font-style: normal;
  font-family: 'Open Sans';
  src:
    local('Open Sans'),
    url('../fonts/open-sans/#{$name}.woff2') format('woff2'),
    url('../fonts/open-sans/#{$name}.woff') format('woff'),
    url('../fonts/open-sans/#{$name}.ttf') format('truetype'),
    url('../fonts/open-sans/#{$name}.svg#OpenSans') format('svg');
}

@font-face {
  $name: 'open-sans-v17-cyrillic-ext_cyrillic-700';

  font-weight: bold;
  font-style: normal;
  font-family: 'Open Sans';
  src:
    local('Open Sans'),
    url('../fonts/open-sans/#{$name}.woff2') format('woff2'),
    url('../fonts/open-sans/#{$name}.woff') format('woff'),
    url('../fonts/open-sans/#{$name}.ttf') format('truetype'),
    url('../fonts/open-sans/#{$name}.svg#OpenSans') format('svg');
}

// https://github.com/google/material-design-icons/tree/master/iconfont
@font-face {
  $name: 'MaterialIcons-Regular';

  font-weight: normal;
  font-style: normal;
  font-family: 'Material Icons';
  src:
    local('Material Icons'),
    url('../fonts/material-icons/#{$name}.woff2') format('woff2'),
    url('../fonts/material-icons/#{$name}.woff') format('woff'),
    url('../fonts/material-icons/#{$name}.ttf') format('truetype'),
    url('../fonts/material-icons/#{$name}.svg#MaterialIcons-Regular') format('svg');
}
