// https://google-webfonts-helper.herokuapp.com/fonts

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Montserrat';
  src:
    local('Montserrat'),
    url('../fonts/Montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'),
    url('../fonts/Montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'),
    url('../fonts/Montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Montserrat') format('svg');
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'Montserrat';
  src:
    local('Montserrat'),
    url('../fonts/Montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.woff') format('woff'),
    url('../fonts/Montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'),
    url('../fonts/Montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Montserrat') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Quicksand';
  src:
    local('Quicksand'),
    url('../fonts/Quicksand/quicksand-v20-latin-ext_latin-regular.woff') format('woff'),
    url('../fonts/Quicksand/quicksand-v20-latin-ext_latin-regular.ttf') format('truetype'),
    url('../fonts/Quicksand/quicksand-v20-latin-ext_latin-regular.svg#Quicksand') format('svg');
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'Quicksand';
  src:
    local('Quicksand'),
    url('../fonts/Quicksand/quicksand-v20-latin-ext_latin-700.woff') format('woff'),
    url('../fonts/Quicksand/quicksand-v20-latin-ext_latin-700.ttf') format('truetype'),
    url('../fonts/Quicksand/quicksand-v20-latin-ext_latin-700.svg#Quicksand') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Open Sans';
  src:
    local('Open Sans'),
    url('../fonts/OpenSans/open-sans-v17-cyrillic-ext_cyrillic-regular.woff') format('woff'),
    url('../fonts/OpenSans/open-sans-v17-cyrillic-ext_cyrillic-regular.ttf') format('truetype'),
    url('../fonts/OpenSans/open-sans-v17-cyrillic-ext_cyrillic-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'Open Sans';
  src:
    local('Open Sans'),
    url('../fonts/OpenSans/open-sans-v17-cyrillic-ext_cyrillic-700.woff') format('woff'),
    url('../fonts/OpenSans/open-sans-v17-cyrillic-ext_cyrillic-700.ttf') format('truetype'),
    url('../fonts/OpenSans/open-sans-v17-cyrillic-ext_cyrillic-700.svg#OpenSans') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Material Icons';
  src:
    local('Material Icons'),
    url('../fonts/MaterialIcons/MaterialIcons-Regular.woff') format('woff'),
    url('../fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype'),
    url('../fonts/MaterialIcons/MaterialIcons-Regular.svg#MaterialIcons-Regular') format('svg');
}
