*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $font-family-primary;
}

html,
body {
  height: 100%;
  font-size: $font-size-xl;
  line-height: 1.714;
  color: $color-gray-75;
  background-color: $color-white;
}

a,
button {
  cursor: pointer;
}

a:visited {
  color: inherit;
}

.material-icons {
  @include material-icons;
}
