*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
}

html {
  color: $color-gray-75p;
  font-size: $font-size-primary;
  font-family: $font-family-primary;
  line-height: $line-height-primary;

  @include screen-sm {
    font-size: 13px;
  }

  @include screen-xs {
    font-size: 12px;
  }
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

.visually-hidden {
  position: absolute;
  visibility: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.material-icons {
  @include material-icons;
}
