*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
  font-family: $font-family-primary;
}

html,
body {
  height: 100%;
  background-color: $color-white;
  color: $color-gray-75;
  font-size: $font-size-xl;
  line-height: 1.714;
}

a,
button {
  cursor: pointer;
}

a:visited {
  color: inherit;
}

img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  border: 0;
}

.material-icons {
  @include material-icons;
}
