// Responsive Design
@mixin screen-xl {
  @media screen and (max-width: $screen-xl) {
    @content;
  }
}

@mixin screen-lg {
  @media screen and (max-width: $screen-lg) {
    @content;
  }
}

@mixin screen-md {
  @media screen and (max-width: $screen-md) {
    @content;
  }
}

@mixin screen-sm {
  @media screen and (max-width: $screen-sm) {
    @content;
  }
}

@mixin screen-xs {
  @media screen and (max-width: $screen-xs) {
    @content;
  }
}

// Container
@mixin container {
  margin: 0 auto;
  padding: 0 30px;
  width: 1220px;
}

// Heading
@mixin heading($size) {
  @if $size == 'h1' {
    font-size: 24px;
    font-family: $font-family-secondary;
    line-height: 1.25;
  }

  @if $size == 'h2' {
    font-size: 19px;
    font-family: $font-family-secondary;
    line-height: 1.265;
  }

  @if $size == 'h3' {
    text-transform: uppercase;
    font-size: 12px;
    font-family: $font-family-primary;
    line-height: 1.25;
  }

  color: $color-gray-100p;
  font-weight: bold;
}

// Material Design Icons Font
@mixin material-icons($font-size: $font-size-primary, $color: $color-primary) {
  display: inline-block;
  color: $color;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  letter-spacing: normal;
  font-weight: normal;
  font-style: normal;
  font-size: $font-size;
  font-family: 'Material Icons', sans-serif;
  line-height: 1;
  direction: ltr;

  /* My extra properties */
  user-select: none;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
