// Breakpoints
@mixin screen-xxl {
  @media screen and (max-width: 1240px) {
    @content;
  }
}

@mixin screen-xl {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin screen-lg {
  @media screen and (max-width: 858px) {
    @content;
  }
}

@mixin screen-md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin screen-sm {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin screen-xs {
  @media screen and (max-width: 420px) {
    @content;
  }
}

// Container
@mixin container {
  margin-right: auto;
  margin-left: auto;
  padding-right: rem(30);
  padding-left: rem(30);
  max-width: rem(1220);
}

// Heading
@mixin heading($size) {
  @if $size == 'h1' {
    font-size: rem(24);
    font-family: $font-family-secondary;
    line-height: 1.25;
  }

  @if $size == 'h2' {
    font-size: rem(19);
    font-family: $font-family-secondary;
    line-height: 1.265;
  }

  @if $size == 'h3' {
    text-transform: uppercase;
    font-size: rem(12);
    font-family: $font-family-primary;
    line-height: 1.25;
  }

  color: $color-gray-100p;
  font-weight: bold;
}

// Form
@mixin form {
  padding: rem(40) rem(30) rem(30);
  border: 1px solid rgba($color-black, 0.12);
  border-radius: rem(4);
  background-color: $color-white;
  box-shadow: $shadow-form;
}

// Hidden Text
@mixin hidden-text {
  font-size: 0;
}

// Material Design Icons Font
@mixin material-icons($font-size: $font-size-primary, $color: $color-primary) {
  display: inline-block;
  color: $color;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  letter-spacing: normal;
  font-weight: normal;
  font-style: normal;
  font-size: $font-size;
  font-family: 'Material Icons', sans-serif;
  line-height: 1;
  direction: ltr;

  /* My extra properties */
  user-select: none;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
