@import '_functions';

// Dimensions
$height-header : rem(70);

// Radius
$radius-primary : rem(4);

// Text
$font-size-primary     : 14px;
$line-height-primary   : 1.75;
$line-height-secondary : 1.275;
$font-family-primary   : 'Montserrat', 'Arial', sans-serif;
$font-family-secondary : 'Quicksand', 'Open Sans', sans-serif;

// Colors (main)
$color-primary-1   : #bc9cff;
$color-primary-2   : #8ba4f9;
$color-secondary-1 : #6fcf97;
$color-secondary-2 : #66d2ea;

// Colors (grayscale)
$color-black     : #000000;
$color-gray-100p : #1f2041;
$color-gray-75p  : #575871;
$color-gray-50p  : #8f90a0;
$color-gray-25p  : #c7c7cF;
$color-gray-15p  : #dedee3;
$color-gray-10p  : #e9e9ec;
$color-gray-5p   : #f3f4f5;
$color-white     : #ffffff;

// Gradients
$gradient-primary   : linear-gradient($color-primary-1, $color-primary-2);
$gradient-secondary : linear-gradient($color-secondary-1, $color-secondary-2);
$gradient-white     : linear-gradient($color-white, $color-white);

// Shadows
$shadow-primary         : 0 rem(10) rem(20) rgba($color-gray-100p, 0.05);
$shadow-secondary       : 0 rem(10) rem(20) rgba($color-gray-100p, 0.1);
$shadow-focus-primary   : 0 0 rem(6) 1px $color-primary-1;
$shadow-focus-secondary : 0 0 rem(6) 1px $color-secondary-1;

// Time
$time-primary : 200ms;
