// Breakpoints
$scrn-xl : 1280px;
$scrn-lg : 980px;
$scrn-md : 768px;
$scrn-sm : 480px;
$scrn-xs : 320px;

// Grayscale colors
$clr-gray-100 : #1f2041;
$clr-gray-75  : rgba($clr-gray-100, 0.75);
$clr-gray-50  : rgba($clr-gray-100, 0.50);
$clr-gray-25  : rgba($clr-gray-100, 0.25);
$clr-gray-5   : rgba($clr-gray-100, 0.05);

// Brand colors
$clr-primary   : #bc9cff;
$clr-secondary : #6fcf97;
