// Fonts
$font-size-primary     : 14px;
$line-height-primary   : 1.75;
$line-height-secondary : 1.275;
$font-family-primary   : 'Montserrat', sans-serif;
$font-family-secondary : 'Quicksand', 'Open Sans', sans-serif;

// Brand colors
$color-primary   : #bc9cff;
$color-secondary : #6fcf97;

// Grayscale colors
$color-black     : #000000;
$color-gray-100p : #1f2041;
$color-gray-75p  : #575871;
$color-gray-50p  : #8f90a0;
$color-gray-25p  : #c7c7cF;
$color-gray-15p  : #dedee3;
$color-gray-10p  : #e9e9ec;
$color-gray-5p   : #f3f4f5;
$color-white     : #ffffff;

// Gradients
$gradient-primary   : linear-gradient($color-primary, #8ba4f9);
$gradient-secondary : linear-gradient($color-secondary, #66d2ea);
$gradient-white     : linear-gradient($color-white, $color-white);
$gradient-excellent : linear-gradient(#ffe39c, #ffba9c);
$gradient-bad       : linear-gradient(#919191, #3d4975);

// Shadows
$shadow-primary   : 0 rem(10) rem(20) rgba($color-gray-100p, 0.05);
$shadow-secondary : 0 rem(10) rem(20) rgba($color-gray-100p, 0.1);
$shadow-form      : 0 0 rem(25) rgba($color-black, 0.2);
$shadow-tooltip   : rem(2) rem(2) rem(6) rgba($color-black, 0.3);

// Time
$time-fastest : 0.15s;
$time-fast    : 0.3s;
$time-medium  : 0.45s;
$time-slow    : 0.6s;
$time-slowest : 0.75s;
