@import 'vars';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: $color-gray-75p;
  font-size: $font-size-primary;
  font-family: $font-family-primary;
  line-height: $line-height-primary;

  @include screen-sm {
    font-size: 13px;
  }

  @include screen-xs {
    font-size: 12px;
  }
}

// custom scrollbar
/* stylelint-disable-next-line no-duplicate-selectors */
html {
  // for Mozilla Firefox
  scrollbar-color: $color-gray-15p transparent;
  scrollbar-width: thin;

  // for webkit browsers
  ::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-height;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $radius-primary;
    background-color: $color-gray-15p;

    &:hover {
      background-color: $color-gray-25p;
    }

    &:active {
      background-color: $color-gray-50p;
    }
  }
}

// https://webaim.org/techniques/css/invisiblecontent/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(2px, 2px, 2px, 2px);
  width: 2px;
  height: 2px;
  margin: -2px;
  padding: 0;
  clip-path: inset(50%);
}

.material-icons {
  @include material-icons($font-size-primary, $color-primary-1);
}
