//- Parameters:
//- string[] modifiers=[] - модификаторы блока

//- Examples:
//- +like-button(4)
//- +like-button(4, ['active'])

mixin like-button(number, modifiers=[])
  - let mods = '';
  - if (modifiers.length !== 0) {
  -   modifiers.forEach((mod) => {
  -     mods = `${mods}like-button_${mod} `;
  -   });
  - }

  button.like-button(class=mods)&attributes(attributes)
    span.like-button__numbers
      span.like-button__number
        | #{number}
