//- Parameters:
//- string[] modifiers=[] - модификаторы блока

//- Examples:
//- +wrapper
//- +wrapper(['ui'])

mixin wrapper(modifiers=[])
  .wrapper(class=getModifiers('wrapper', modifiers))
    if modifiers.includes('ui')
      a._link(href='/')
        | На главную
    block
