.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  background-color: $color-white;
  color: $color-gray-75p;
  font-size: $font-size-xl;
  line-height: 1.714;

  &--ui {
    padding: 150px 0;
    background-image: url('../blocks/wrapper/img/logo-ui.svg');
    background-position: 30px 30px;
    background-size: 48px 48px;
    background-repeat: no-repeat;
  }

  &--gray {
    background-color: $color-gray-5p;
  }
}
