//- Options:
//- 🞂 isLogin: boolean - если true, то вместо кнопок отображается ссылка на профиль пользователя

include /blocks/button/button.pug
include /blocks/header-submenu/header-submenu.pug
include /blocks/link/link.pug
include /blocks/logo/logo.pug

mixin header(options)
  -
    const defaults = {
      isLogin: false,
    };

  -
    const {
      isLogin,
    } = Object.assign(defaults, options);

  header.header.js-header
    ._container
      ._logo
        +logo({
          mods: ['adaptive'],
        })
      if isLogin
        ._user
          +link({
            text: 'Юлий Цезарь',
            attrs: {
              href: '/change-me',
            },
          })
      else
        ._buttons
          ._button
            +button({
              text: 'Войти',
              mods: ['compact'],
              attrs: {
                href: '/change-me',
              },
            })
          ._button.-adaptive
            +button({
              text: 'Зарегистрироваться',
              mods: ['compact', 'fill'],
              attrs: {
                href: '/change-me',
              },
            })
      button._hamburger.js-header__hamburger(type='button')
        | Гамбургер-меню
        span._icon-layers
          span._icon-layer
          span._icon-layer
          span._icon-layer
      nav._nav.js-header__nav(style='--height: 100vh;')
        ul._list.js-header__list
          li._item
            +link({
              text: 'О нас',
              mods: ['bold'],
              attrs: {
                href: '/change-me',
              },
            })
          li._item
            +header-submenu({
              text: 'Услуги',
              href: '/change-me',
              list: [
                ['Оформление виз', '/change-me'],
                ['Заказ экскурсий', '/change-me'],
                ['Конференц-залы', '/change-me'],
              ],
            })
          li._item
            +link({
              text: 'Вакансии',
              attrs: {
                href: '/change-me',
              },
            })
          li._item
            +link({
              text: 'Новости',
              attrs: {
                href: '/change-me',
              },
            })
          li._item
            +header-submenu({
              text: 'Соглашения',
              href: '/change-me',
              list: [
                ['Польз. соглашение', '/change-me'],
                ['Политика конф-ти', '/change-me'],
              ],
            })
