.field-checkbox {
  &__input {
    display: none;

    &:checked + .field-checkbox__label {
      .field-checkbox__box {
        background-position-x: 15px;
        border-color: $color-primary;
        transition:
          background-position-x $transition-slow 0.15s,
          border-color $transition-fast;
        
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__label {
    position: relative;
    z-index: 5;
    display: inline-block;
    padding-left: 30px;
    line-height: 1.285;
    color: $color-gray-50;
    cursor: pointer;
  }

  &__box {
    position: absolute;
    top: -1px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: linear-gradient($color-white, $color-white);
    background-repeat: no-repeat;
    border: 1px solid $color-gray-25;
    border-radius: 20%;
    overflow: hidden;
    transition:
      background-position-x 0.01s $transition-fast,
      border-color $transition-fast;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 45%;
      left: 50%;
      z-index: -5;
      width: 33.5%;
      height: 43.5%;
      background-image: linear-gradient($color-primary, $color-secondary);
      transform:
        translate(-50%, -50%)
        rotate(45deg);
    }

    &::before {
      opacity: 0;
      transition: opacity $transition-fast;
    }

    &::after {
      top: 29.5%;
      background-color: $color-white;
      background-image: none;
    }
  }
}
