//- Parameters:
//- string name - имя чекбокса
//- string text - текст чекбокса

//- Examples:
//- +field-checkbox('news', 'Subscribe to newsletter')(checked)
//- +field-checkbox('news', 'Subscribe to newsletter')

mixin field-checkbox(name, text)
  .field-checkbox
    label._label
      input._input(type='checkbox', name=name)&attributes(attributes)
      span._box
      span._text
        | #{text}
