//- Parameters:
//- string name - имя чекбокса
//- string text - текст чекбокса

//- Examples:
//- +field-checkbox('news', 'Subscribe to newsletter')(checked)
//- +field-checkbox('news', 'Subscribe to newsletter')

mixin field-checkbox(name, text)
  .field-checkbox
    label.field-checkbox__label
      input.field-checkbox__input(type='checkbox', name=name)&attributes(attributes)
      span.field-checkbox__box
      span.field-checkbox__text
        | #{text}
